Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2022-11, with the labels that each got.

#410 183 dev derivation ontoagent
  Agents/DerivationAsynExample/DerivationAsynExample/pom.xml
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/InitialiseInstances.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/SparqlClient.java
  JPS_BASE_LIB/pom.xml
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationClient.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationSparql.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/README.md
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivationClientIntegrationTest.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivedQuantityClientTest.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivedQuantitySparqlTest.java
Labels: derivation

#418 hotfix-kinetics-agent
  Agents/KineticsAgent/pom.xml
  Agents/KineticsAgent/src/main/java/uk/ac/cam/cares/jps/agent/kinetics/simulation/KineticsAgent.java
Labels: bug

#416 181 dev add derivation error status
  Agents/DerivationAsynExample/DerivationAsynExample/pom.xml
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/Config.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/ExceptionThrowAgent.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/InitialiseInstances.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/SparqlClient.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/resources/agents.properties
  Agents/DerivationAsynExample/DerivationAsynExample/src/test/java/uk/ac/cam/cares/derivation/asynexample/DockerIntegrationTest.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/test/java/uk/ac/cam/cares/derivation/asynexample/IntegrationTest.java
  Agents/DerivationAsynExample/Dockerfile
  Agents/DerivationAsynExample/docker-compose.yml
  JPS_BASE_LIB/pom.xml
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/agent/DerivationAgent.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/Derivation.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationClient.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationSparql.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/StatusType.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivationSparqlIntegrationTest.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivedQuantitySparqlTest.java
  JPS_Ontology/ontology/ontoderivation/OntoDerivation.csv
  JPS_Ontology/ontology/ontoderivation/OntoDerivation.owl
Labels: derivation

#420 187-dev-py4jps-1027: released py4jps 1.0.26 to both PyPI and TestPyPI.
  JPS_BASE_LIB/python_wrapper/py4jps/__init__.py
  JPS_BASE_LIB/python_wrapper/setup.py
Labels: python-wrapper

#419 186-dev-update-derivation-example: updated DerivationExample to use j…
  Agents/DerivationExample/DerivationExample/pom.xml
  Agents/DerivationExample/DerivationExample/src/main/java/uk/ac/cam/cares/derivation/example/AverageAgent.java
  Agents/DerivationExample/DerivationExample/src/main/java/uk/ac/cam/cares/derivation/example/Config.java
  Agents/DerivationExample/DerivationExample/src/main/java/uk/ac/cam/cares/derivation/example/DifferenceAgent.java
  Agents/DerivationExample/DerivationExample/src/main/java/uk/ac/cam/cares/derivation/example/InitialiseInstances.java
  Agents/DerivationExample/DerivationExample/src/main/java/uk/ac/cam/cares/derivation/example/InputAgent.java
  Agents/DerivationExample/DerivationExample/src/main/java/uk/ac/cam/cares/derivation/example/InstancesDatabase.java
  Agents/DerivationExample/DerivationExample/src/main/java/uk/ac/cam/cares/derivation/example/MaxValueAgent.java
  Agents/DerivationExample/DerivationExample/src/main/java/uk/ac/cam/cares/derivation/example/MinValueAgent.java
  Agents/DerivationExample/DerivationExample/src/main/java/uk/ac/cam/cares/derivation/example/SparqlClient.java
  Agents/DerivationExample/DerivationExample/src/main/java/uk/ac/cam/cares/derivation/example/UpdateDerivations.java
  Agents/DerivationExample/DerivationExample/src/test/java/uk/ac/cam/cares/derivation/example/IntegrationTest.java
  Agents/DerivationExample/Dockerfile
  Agents/DerivationExample/docker-compose.yml
Labels: derivation

#424 177 dev pyderivationagent improvement
  JPS_BASE_LIB/python_derivation_agent/.gitignore
  JPS_BASE_LIB/python_derivation_agent/README.md
  JPS_BASE_LIB/python_derivation_agent/docker-compose.test.yml
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/__init__.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/agent/derivation_agent.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/data_model/__init__.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/data_model/derivation.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/exception/__init__.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/exception/exception.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/kg_operations/__init__.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/kg_operations/derivation_client.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/kg_operations/gateway.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/kg_operations/sparql_client.py
  JPS_BASE_LIB/python_derivation_agent/setup.py
  JPS_BASE_LIB/python_derivation_agent/tests/agents/agents_for_test.py
  JPS_BASE_LIB/python_derivation_agent/tests/agents/sparql_client_for_test.py
  JPS_BASE_LIB/python_derivation_agent/tests/conftest.py
  JPS_BASE_LIB/python_derivation_agent/tests/docker_entry_point.py
  JPS_BASE_LIB/python_derivation_agent/tests/env_files/agent.exception.throw.env.test
  JPS_BASE_LIB/python_derivation_agent/tests/resources/dummy_abox.ttl
  JPS_BASE_LIB/python_derivation_agent/tests/test_derivation_agent.py
  JPS_BASE_LIB/python_derivation_agent/tests/test_docker_integration.py
  JPS_BASE_LIB/python_derivation_agent/tests/test_exception_throw.py
  JPS_BASE_LIB/python_derivation_agent/tests/utils.py
Labels: derivation, python-wrapper

#431 Hotfix stack data uploader
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Dataset.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/GDALClient.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
  Deploy/stacks/dynamic/stack-manager/src/main/resources/com/cmclinnovations/stack/services/defaults/gdal.json
Labels: bug, core-stack

#435 dev-dtvf-3.3.1
  web/digital-twin-vis-framework/README.md
  web/digital-twin-vis-framework/example-cesium-vis/README.md
  web/digital-twin-vis-framework/example-cesium-vis/index.html
  web/digital-twin-vis-framework/example-mapbox-vis/README.md
  web/digital-twin-vis-framework/example-mapbox-vis/index.html
  web/digital-twin-vis-framework/library/src/ts/manager.ts
Labels: bug, visualisation

#436 188 hotfix escape sequences
  JPS_BASE_LIB/pom.xml
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationSparql.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivedQuantitySparqlTest.java
Labels: bug, derivation

#439 189-dev-release-py4jps-1028: released py4jps 1.0.28 to both PyPI and …
  JPS_BASE_LIB/python_wrapper/py4jps/__init__.py
  JPS_BASE_LIB/python_wrapper/setup.py
Labels: python-wrapper

#442 dev-dtvf-3.3.2
  web/digital-twin-vis-framework/README.md
  web/digital-twin-vis-framework/example-cesium-vis/README.md
  web/digital-twin-vis-framework/example-cesium-vis/index.html
  web/digital-twin-vis-framework/example-mapbox-vis/README.md
  web/digital-twin-vis-framework/example-mapbox-vis/index.html
  web/digital-twin-vis-framework/library/src/ts/ui/panel_handler.ts
Labels: bug, visualisation

#440 190 dev package agentlogging in py4jps
  Agents/utils/python-utils/README.md
  JPS_BASE_LIB/python_derivation_agent/README.md
  JPS_BASE_LIB/python_derivation_agent/docker_test_requirements.txt
  JPS_BASE_LIB/python_derivation_agent/install_script_pip.sh
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/__init__.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/agent/derivation_agent.py
  JPS_BASE_LIB/python_derivation_agent/release_pyderivationagent_to_pypi.sh
  JPS_BASE_LIB/python_derivation_agent/setup.py
  JPS_BASE_LIB/python_derivation_agent/tests/conftest.py
  JPS_BASE_LIB/python_derivation_agent/tests/docker_entry_point.py
  JPS_BASE_LIB/python_derivation_agent/tests/test_conf.py
  JPS_BASE_LIB/python_derivation_agent/tests/test_derivation_agent.py
  JPS_BASE_LIB/python_derivation_agent/tests/test_docker_integration.py
  JPS_BASE_LIB/python_derivation_agent/tests/utils.py
  JPS_BASE_LIB/python_wrapper/MANIFEST.in
  JPS_BASE_LIB/python_wrapper/README.md
  JPS_BASE_LIB/python_wrapper/py4jps/__init__.py
  JPS_BASE_LIB/python_wrapper/py4jps/agentlogging/__init__.py
  JPS_BASE_LIB/python_wrapper/py4jps/agentlogging/logging.conf
  JPS_BASE_LIB/python_wrapper/py4jps/agentlogging/logging.py
  JPS_BASE_LIB/python_wrapper/setup.py
  JPS_BASE_LIB/python_wrapper/tests/test_logging.py
Labels: derivation, python-wrapper

#455 192 hotfix pyderivationagent error status iri
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/__init__.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/data_model/iris.py
  JPS_BASE_LIB/python_derivation_agent/setup.py
Labels: derivation, python-wrapper

#335 Uploading data to visualization documentation
  Deploy/stacks/dynamic/example_datasets/README.md
  Deploy/stacks/dynamic/example_datasets/inputs/config/cropmap-simple.json
  Deploy/stacks/dynamic/example_datasets/inputs/config/cropmap.json
  Deploy/stacks/dynamic/example_datasets/inputs/config/elevation.json
  Deploy/stacks/dynamic/example_datasets/inputs/config/elevation.sld
  Deploy/stacks/dynamic/example_datasets/inputs/config/forestry.json
  Deploy/stacks/dynamic/example_datasets/inputs/config/population.json
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/DataSubset.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Raster.java
  Deploy/stacks/dynamic/stack-data-uploader/README.md
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: documentation, core-stack

#468 Hotfix blazegraph get service url
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/blazegraph/BlazegraphEndpointConfig.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: enhancement, core-stack

#478 193-hotfix-derivation-agent-python-example
  Agents/DerivationAgentPythonExample/Dockerfile
Labels: bug, derivation

#471 Add sparql service filter
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/blazegraph/BlazegraphClient.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: enhancement, core-stack

#485 Add ability to add additional containers to a stack when starting it up
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-core.code-workspace
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/README.md
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/Stack.java
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/services/ServiceManager.java
Labels: enhancement, core-stack
