Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2022-12, with the labels that each got.

#473 Dev mods agent evaluating surrogates
  Agents/MoDSSimpleAgent/.gitignore
  Agents/MoDSSimpleAgent/docker-compose.yml
  Agents/MoDSSimpleAgent/example_Evaluate.json
  Agents/MoDSSimpleAgent/example_Evaluate_input.json
  Agents/MoDSSimpleAgent/mods-simple-agent/pom.xml
  Agents/MoDSSimpleAgent/mods-simple-agent/src/main/java/com/cmclinnovations/mods/modssimpleagent/datamodels/Algorithm.java
  Agents/MoDSSimpleAgent/mods-simple-agent/src/main/java/com/cmclinnovations/mods/modssimpleagent/datamodels/InputMetaData.java
  Agents/MoDSSimpleAgent/mods-simple-agent/src/main/java/com/cmclinnovations/mods/modssimpleagent/simulations/Evaluate.java
  Agents/MoDSSimpleAgent/mods-simple-agent/src/main/java/com/cmclinnovations/mods/modssimpleagent/simulations/HDMR.java
  Agents/MoDSSimpleAgent/mods-simple-agent/src/main/java/com/cmclinnovations/mods/modssimpleagent/simulations/MOOonly.java
  Agents/MoDSSimpleAgent/mods-simple-agent/src/main/java/com/cmclinnovations/mods/modssimpleagent/simulations/Simulation.java
  Agents/MoDSSimpleAgent/mods-simple-agent/src/main/resources/MoDS_inputs_templates/Evaluate.xml
Labels: enhancement

#500 195 dev optimise derivation sparql
  JPS_BASE_LIB/pom.xml
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/Bind.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationSparql.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivationClientIntegrationTest.java
Labels: derivation

#501 199-dev-release-py4jps-1030: released py4jps 1.0.30 to both PyPI and …
  JPS_BASE_LIB/python_wrapper/py4jps/__init__.py
  JPS_BASE_LIB/python_wrapper/setup.py
Labels: python-wrapper

#504 Derivation MVP
  Agents/AverageSquareMetrePriceAgent/Dockerfile
  Agents/AverageSquareMetrePriceAgent/README.md
  Agents/AverageSquareMetrePriceAgent/_derivation_mvp_mock/__init__.py
  Agents/AverageSquareMetrePriceAgent/_derivation_mvp_mock/env_configs_mock.py
  Agents/AverageSquareMetrePriceAgent/_derivation_mvp_mock/stack_configs_mock.py
  Agents/AverageSquareMetrePriceAgent/derivation_mvp_docker_publish.sh
  Agents/AverageSquareMetrePriceAgent/docker-compose-derivation-mvp.yml
  Agents/PropertyValueEstimationAgent/Dockerfile
  Agents/PropertyValueEstimationAgent/README.md
  Agents/PropertyValueEstimationAgent/_derivation_mvp_mock/__init__.py
  Agents/PropertyValueEstimationAgent/_derivation_mvp_mock/env_configs_mock.py
  Agents/PropertyValueEstimationAgent/_derivation_mvp_mock/stack_configs_mock.py
  Agents/PropertyValueEstimationAgent/derivation_mvp_docker_publish.sh
  Agents/PropertyValueEstimationAgent/docker-compose-derivation-mvp.yml
  Agents/_DerivationPaper/.gitignore
  Agents/_DerivationPaper/README.md
  Agents/_DerivationPaper/amend_geojsons.py
  Agents/_DerivationPaper/configs.py
  Agents/_DerivationPaper/create_colorlegend.py
  Agents/_DerivationPaper/data/affected_property_iris.csv
  Agents/_DerivationPaper/data/flood-areas.geojson
  Agents/_DerivationPaper/data/ukhpi.csv
  Agents/_DerivationPaper/data_preparation.py
  Agents/_DerivationPaper/docker-compose-agents.yml
  Agents/_DerivationPaper/docker-compose_stack.yml
  Agents/_DerivationPaper/env_files/agent.avgsqmprice.env
  Agents/_DerivationPaper/env_files/agent.floodassessment.env
  Agents/_DerivationPaper/env_files/agent.propertyvalue.env
  Agents/_DerivationPaper/flood_warning.py
  Agents/_DerivationPaper/generate_geojson.py
  Agents/_DerivationPaper/iris.py
  Agents/_DerivationPaper/markup_avg_sqm_price.py
  Agents/_DerivationPaper/markup_flood_assessment.py
  Agents/_DerivationPaper/markup_property_value_est.py
  Agents/_DerivationPaper/property_price_index.py
  Agents/_DerivationPaper/requirements.txt
  Agents/_DerivationPaper/resources/matching_query.sparql
  Agents/_DerivationPaper/resources/property_location.sparql
  Agents/_DerivationPaper/tsclient.py
  Agents/_DerivationPaper/visualisation/data.json
  Agents/_DerivationPaper/visualisation/data/aoi.geojson
  Agents/_DerivationPaper/visualisation/docker/Dockerfile
  Agents/_DerivationPaper/visualisation/docker/docker-compose.yml
  Agents/_DerivationPaper/visualisation/docker/httpd.conf
  Agents/_DerivationPaper/visualisation/docker/start-up.sh
  Agents/_DerivationPaper/visualisation/favicon.ico
  Agents/_DerivationPaper/visualisation/index.html
  Agents/_DerivationPaper/visualisation/legend.html
  Agents/_DerivationPaper/visualisation/local.css
  Agents/_DerivationPaper/visualisation/local.js
  Agents/_DerivationPaper/visualisation/redeploy.sh
  Agents/_DerivationPaper/visualisation/settings.json
Labels: derivation

#497 273 ability to upload triple through the t box generator
  Agents/utils/parent-pom/pom.xml
  Deploy/stacks/dynamic/example_datasets/inputs/config/tboxcsv.json
  Deploy/stacks/dynamic/example_datasets/inputs/data/tboxcsv/README.md
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/blazegraph/BlazegraphClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/ClientWithEndpoint.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/DataSubset.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/TBoxCSV.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/ontop/OntopClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/postgis/PostGISClient.java
  Deploy/stacks/dynamic/stack-data-uploader/README.md
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: enhancement, core-stack

#527 Update the stack-manager to automatically mount the docker socket within custom containers
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/services/DockerService.java
Labels: enhancement, core-stack

#533 Stack client image fix for use with py4jps
  Deploy/stacks/dynamic/stack-clients/Dockerfile
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/docker/entrypoint.sh
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-core.code-workspace
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, core-stack

#524 Add a username and password to blazegraph container
  Deploy/stacks/db/blazegraph/Dockerfile
  Deploy/stacks/db/blazegraph/README.md
  Deploy/stacks/db/blazegraph/blazegraph_war/WEB-INF/web.xml
  Deploy/stacks/db/blazegraph/docker-entrypoint.sh
  Deploy/stacks/db/blazegraph/tomcat/conf/tomcat-users.xml
  Deploy/stacks/db/docker-compose.build.yml
  Deploy/stacks/db/docker-compose.deploy.yml
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/docker/DockerClient.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/services/BlazegraphService.java
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/services/ContainerService.java
  Deploy/stacks/dynamic/stack-manager/src/main/resources/com/cmclinnovations/stack/services/defaults/blazegraph.json
Labels: enhancement, core-stack
