Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2022-10, with the labels that each got.

#351 170 dev async derivation queryagain flag
  Agents/DerivationAsynExample/DerivationAsynExample/pom.xml
  Agents/DerivationAsynExample/docker-compose.yml
  JPS_BASE_LIB/pom.xml
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/agent/DerivationAgent.java
Labels: derivation

#352 171 dev distinguish methods addtriples
  Agents/DerivationAsynExample/DerivationAsynExample/pom.xml
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/MaxValueAgent.java
  JPS_BASE_LIB/pom.xml
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationOutputs.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/README.md
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivationOutputsTest.java
Labels: derivation

#353 172 dev modify exception for derivation framework
  Agents/DerivationAsynExample/DerivationAsynExample/pom.xml
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/DiffReverseAgent.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/InitialiseInstances.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/test/java/uk/ac/cam/cares/derivation/asynexample/IntegrationTest.java
  JPS_BASE_LIB/pom.xml
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/agent/DerivationAgent.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationClient.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/README.md
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/agent/test/DerivationAgentTest.java
Labels: derivation

#362 dev-py4jps-readme-update: updated java to 11
  JPS_BASE_LIB/python_wrapper/README.md
Labels: python-wrapper

#368 175-dev-py4jps-1025: released py4jps 1.0.25 to both PyPI and TestPyPI.
  JPS_BASE_LIB/python_wrapper/py4jps/__init__.py
  JPS_BASE_LIB/python_wrapper/setup.py
Labels: python-wrapper

#370 176 hotfix inf to infinity
  JPS_BASE_LIB/pom.xml
  JPS_BASE_LIB/python_wrapper/dev_requirements.txt
  JPS_BASE_LIB/python_wrapper/py4jps/__init__.py
  JPS_BASE_LIB/python_wrapper/release_py4jps_to_pypi.sh
  JPS_BASE_LIB/python_wrapper/setup.py
  JPS_BASE_LIB/python_wrapper/tests/conftest.py
  JPS_BASE_LIB/python_wrapper/tests/test_wrapper.py
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationOutputs.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivationOutputsIntegrationTest.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivationOutputsTest.java
Labels: derivation, python-wrapper

#371 173 hotfix pyderivationagent
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/__init__.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/agent/derivation_agent.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/data_model/derivation.py
  JPS_BASE_LIB/python_derivation_agent/setup.py
  JPS_BASE_LIB/python_derivation_agent/tests/agents/agents_for_test.py
  JPS_BASE_LIB/python_derivation_agent/tests/agents/sparql_client_for_test.py
  JPS_BASE_LIB/python_derivation_agent/tests/test_derivation_agent.py
  JPS_BASE_LIB/python_derivation_agent/tests/test_docker_integration.py
Labels: derivation, python-wrapper

#377 376-error-thrown-when-trying-to-query-raster-data-in-the-stack
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/GDALClient.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, core-stack

#390 dev-dtvf 3.2.0
  Deploy/stacks/dynamic/stack-data-uploader/inputs/config copy/.gitignore
  web/digital-twin-vis-framework/README.md
  web/digital-twin-vis-framework/example-cesium-vis/README.md
  web/digital-twin-vis-framework/example-cesium-vis/index.html
  web/digital-twin-vis-framework/example-mapbox-vis/README.md
  web/digital-twin-vis-framework/example-mapbox-vis/index.html
  web/digital-twin-vis-framework/library/src/css/dtvf.css
  web/digital-twin-vis-framework/library/src/ts/cesium/cesium_handler.ts
  web/digital-twin-vis-framework/library/src/ts/cesium/cesium_utils.ts
  web/digital-twin-vis-framework/library/src/ts/manager.ts
  web/digital-twin-vis-framework/library/src/ts/ui/panel_handler.ts
  web/digital-twin-vis-framework/library/src/ts/utils.ts
Labels: bug, documentation, enhancement, visualisation

#404 180 dev derivation pure inputs timestamp
  Agents/DerivationAsynExample/DerivationAsynExample/pom.xml
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/InitialiseInstances.java
  Agents/DerivationAsynExample/Dockerfile
  Agents/DerivationAsynExample/docker-compose.yml
  JPS_BASE_LIB/pom.xml
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/Derivation.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationClient.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationSparql.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/README.md
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/ValuesPattern.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivationClientIntegrationTest.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivedQuantityClientTest.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivedQuantitySparqlTest.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/ValuesPatternTest.java
Labels: derivation
