Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2022-09, with the labels that each got.

#293 281 make it easier to spin up multiple stacks
  Agents/utils/parent-pom/pom.xml
  Deploy/stacks/dynamic/common-scripts/build.sh
  Deploy/stacks/dynamic/common-scripts/common_functions.sh
  Deploy/stacks/dynamic/common-scripts/ports.sh
  Deploy/stacks/dynamic/common-scripts/start.sh
  Deploy/stacks/dynamic/common-scripts/stop.sh
  Deploy/stacks/dynamic/example_datasets/inputs/config/elevation.json
  Deploy/stacks/dynamic/example_datasets/inputs/config/elevation.sld
  Deploy/stacks/dynamic/example_datasets/inputs/config/forestry.json
  Deploy/stacks/dynamic/example_datasets/inputs/config/forestry.sld
  Deploy/stacks/dynamic/example_datasets/inputs/config/treesAndHills.json
  Deploy/stacks/dynamic/example_datasets/inputs/data/cropmap/vector/README.md
  Deploy/stacks/dynamic/example_datasets/inputs/data/elevation/README.md
  Deploy/stacks/dynamic/example_datasets/inputs/data/forestry/tabular/forestry_colours.csv
  Deploy/stacks/dynamic/example_datasets/inputs/data/forestry/vector/README.md
  Deploy/stacks/dynamic/example_datasets/inputs/data/population/README.md
  Deploy/stacks/dynamic/stack-clients/.vscode/launch.json
  Deploy/stacks/dynamic/stack-clients/.vscode/tasks.json
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/StackClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Dataset.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Raster.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Vector.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/docker/DockerClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/geoserver/GeoServerClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/geoserver/GeoServerRasterSettings.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/ontop/SQLPPMappingImplementation.java
  Deploy/stacks/dynamic/stack-core.code-workspace
  Deploy/stacks/dynamic/stack-data-uploader/.vscode/launch.json
  Deploy/stacks/dynamic/stack-data-uploader/.vscode/tasks.json
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/inputs/config copy/.gitignore
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/.vscode/launch.json
  Deploy/stacks/dynamic/stack-manager/.vscode/tasks.json
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/services/NginxService.java
Labels: enhancement, core-stack

#320 281-make-it-easier-to-spin-up-multiple-stacks: follow up
  Agents/utils/parent-pom/pom.xml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-core.code-workspace
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, core-stack

#332 fix-kinetics-agent
  Agents/KineticsAgent/pom.xml
  Agents/KineticsAgent/src/main/java/uk/ac/cam/cares/jps/agent/kinetics/simulation/KineticsAgent.java
  Agents/KineticsAgent/src/main/java/uk/ac/cam/cares/jps/agent/utils/ZipUtility.java
  Agents/KineticsAgent/src/test/java/uk/ac/cam/cares/jps/agent/kinetics/simulation/test/KineticsAgentJobRequestTest.java
  Agents/KineticsAgent/src/test/java/uk/ac/cam/cares/jps/agent/kinetics/simulation/test/KineticsAgentProcessOutputTest.java
  JPS_BASE_LIB/pom.xml
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/slurm/job/JobSubmission.java
Labels: bug
