Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2023-03, with the labels that each got.

#634 632 derivation timestamps
  JPS_BASE_LIB/pom.xml
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationClient.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationSparql.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivedQuantityClientTest.java
Labels: bug, derivation

#635 209 dev update python wrappers
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/__init__.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/kg_operations/derivation_client.py
  JPS_BASE_LIB/python_derivation_agent/setup.py
  JPS_BASE_LIB/python_derivation_agent/tests/conftest.py
  JPS_BASE_LIB/python_derivation_agent/tests/test_derivation_client.py
  JPS_BASE_LIB/python_wrapper/py4jps/__init__.py
  JPS_BASE_LIB/python_wrapper/setup.py
Labels: derivation, python-wrapper

#642 641 secrets are incorrectly removed when starting multiple stacks
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/docker/DockerClient.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/docker/DockerClientTest.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/services/PodmanService.java
Labels: bug, core-stack

#640 615 stack data uploader error when uploading vector data without a virtual table
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/PostgresDataSubset.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Vector.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, core-stack

#541 540 ukpn pylon example external data set loop
  Deploy/stacks/dynamic/example_datasets/inputs/config/pylons-and-veg.json
  Deploy/stacks/dynamic/example_datasets/inputs/config/pylons.json
Labels: bug, core-stack, long-term

#664 663 secret key is now required for spinning up superset
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/superset/SupersetEndpointConfig.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/SupersetService.java
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/defaults/superset.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/superset/superset_config.py
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, core-stack
