Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2023-01, with the labels that each got.

#475 Dev ukpn pylons
  Deploy/stacks/dynamic/example_datasets/inputs/config/cropmap-reduced.json
  Deploy/stacks/dynamic/example_datasets/inputs/config/cropmap-reduced.sld
  Deploy/stacks/dynamic/example_datasets/inputs/config/forestry-reduced.json
  Deploy/stacks/dynamic/example_datasets/inputs/config/forestry-reduced.sld
  Deploy/stacks/dynamic/example_datasets/inputs/config/ng-pylons.json
  Deploy/stacks/dynamic/example_datasets/inputs/config/overhead-lines.sld
  Deploy/stacks/dynamic/example_datasets/inputs/config/poles-towers.sld
  Deploy/stacks/dynamic/example_datasets/inputs/config/pylons-and-veg.json
  Deploy/stacks/dynamic/example_datasets/inputs/config/pylons.json
  Deploy/stacks/dynamic/example_datasets/inputs/config/ukpn-pylons.json
  Deploy/stacks/dynamic/example_datasets/inputs/config/underground-cables.sld
  Deploy/stacks/dynamic/example_datasets/inputs/data/ng_pylons/tabular/ng_styling.csv
  Deploy/stacks/dynamic/example_datasets/inputs/data/ng_pylons/vector/cables/README.md
  Deploy/stacks/dynamic/example_datasets/inputs/data/ng_pylons/vector/ohls/README.md
  Deploy/stacks/dynamic/example_datasets/inputs/data/ng_pylons/vector/towers/README.md
  Deploy/stacks/dynamic/example_datasets/inputs/data/ukpn_pylons/tabular/ukpn_styling.csv
  Deploy/stacks/dynamic/example_datasets/inputs/data/ukpn_pylons/ukpn_ontop.obda
  Deploy/stacks/dynamic/example_datasets/inputs/data/ukpn_pylons/vector/132kv-overhead-lines/README.md
  Deploy/stacks/dynamic/example_datasets/inputs/data/ukpn_pylons/vector/132kv-poles-towers/README.md
  Deploy/stacks/dynamic/example_datasets/inputs/data/ukpn_pylons/vector/33kv-overhead-lines/README.md
  Deploy/stacks/dynamic/example_datasets/inputs/data/ukpn_pylons/vector/ukpn-33kv-poles-towers/README.md
  Deploy/stacks/dynamic/example_datasets/inputs/data/ukpn_pylons/vector/ukpn-hv-overhead-lines-shapefile/README.md
  Deploy/stacks/dynamic/stack-data-uploader/README.md
  web/digital-twin-vis-framework/pylon-visualisation/README.md
  web/digital-twin-vis-framework/pylon-visualisation/data.json
  web/digital-twin-vis-framework/pylon-visualisation/data/pylons/icons/NG_logo.png
  web/digital-twin-vis-framework/pylon-visualisation/data/pylons/icons/UKPN_logo.png
  web/digital-twin-vis-framework/pylon-visualisation/data/pylons/icons/cable_ng.png
  web/digital-twin-vis-framework/pylon-visualisation/data/pylons/icons/line_ng_high_icon.png
  web/digital-twin-vis-framework/pylon-visualisation/data/pylons/icons/line_ng_medium_icon.png
  web/digital-twin-vis-framework/pylon-visualisation/data/pylons/icons/line_ng_superhigh_icon.png
  web/digital-twin-vis-framework/pylon-visualisation/data/pylons/icons/line_ukpn_high_icon.png
  web/digital-twin-vis-framework/pylon-visualisation/data/pylons/icons/line_ukpn_low_icon.png
  web/digital-twin-vis-framework/pylon-visualisation/data/pylons/icons/line_ukpn_medium_icon.png
  web/digital-twin-vis-framework/pylon-visualisation/data/pylons/icons/pylon_high_icon.png
  web/digital-twin-vis-framework/pylon-visualisation/data/pylons/icons/pylon_medium_icon.png
  web/digital-twin-vis-framework/pylon-visualisation/data/pylons/icons/pylon_superhigh_icon.png
  web/digital-twin-vis-framework/pylon-visualisation/data/vegetation/icons/Heathland-and-Bracken.png
  web/digital-twin-vis-framework/pylon-visualisation/data/vegetation/icons/Perennial-Crops-and-Isolated-Trees.png
  web/digital-twin-vis-framework/pylon-visualisation/data/vegetation/icons/Short-Rotation-Coppice.png
  web/digital-twin-vis-framework/pylon-visualisation/data/vegetation/icons/Trees-Woody-Plants-Hedgerows.png
  web/digital-twin-vis-framework/pylon-visualisation/data/vegetation/icons/Unknown-or-Mixed-Vegetation.png
  web/digital-twin-vis-framework/pylon-visualisation/data/woodland/icons/light_woodland.png
  web/digital-twin-vis-framework/pylon-visualisation/data/woodland/icons/uncertain.png
  web/digital-twin-vis-framework/pylon-visualisation/data/woodland/icons/woodland.png
  web/digital-twin-vis-framework/pylon-visualisation/data/woodland/icons/young_woodland.png
  web/digital-twin-vis-framework/pylon-visualisation/docker/Dockerfile
  web/digital-twin-vis-framework/pylon-visualisation/docker/docker-compose.yml
  web/digital-twin-vis-framework/pylon-visualisation/docker/httpd.conf
  web/digital-twin-vis-framework/pylon-visualisation/docker/start-up.sh
  web/digital-twin-vis-framework/pylon-visualisation/favicon.ico
  web/digital-twin-vis-framework/pylon-visualisation/icons.json
  web/digital-twin-vis-framework/pylon-visualisation/index.html
  web/digital-twin-vis-framework/pylon-visualisation/legend.html
  web/digital-twin-vis-framework/pylon-visualisation/links.json
  web/digital-twin-vis-framework/pylon-visualisation/local.css
  web/digital-twin-vis-framework/pylon-visualisation/local.js
  web/digital-twin-vis-framework/pylon-visualisation/settings.json
Labels: visualisation

#539 Corrected the version of the Blazegraph image pulled before running the stack-manager
  Deploy/stacks/dynamic/common-scripts/start.sh
  Deploy/stacks/dynamic/common-scripts/stop.sh
  Deploy/stacks/dynamic/stack-manager/README.md
Labels: bug, core-stack

#545 hotfix-rdf4j-test-container-version
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/query/fed/test/TripleStoreProvider.java
Labels: bug

#557 201 dev finished async derivation uuidlock
  Agents/DerivationAsynExample/DerivationAsynExample/pom.xml
  JPS_BASE_LIB/pom.xml
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/agent/DerivationAgent.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationClient.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationSparql.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivationClientIntegrationTest.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivedQuantitySparqlTest.java
Labels: bug, enhancement, derivation

#558 202-dev-release-py4jps-1031: released py4jps 1.0.31 to both TestPyPI …
  JPS_BASE_LIB/python_wrapper/py4jps/__init__.py
  JPS_BASE_LIB/python_wrapper/setup.py
Labels: python-wrapper

#559 203 dev pyderivationagent finished async derivation
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/__init__.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/agent/derivation_agent.py
  JPS_BASE_LIB/python_derivation_agent/release_pyderivationagent_to_pypi.sh
  JPS_BASE_LIB/python_derivation_agent/setup.py
Labels: bug, enhancement, derivation, python-wrapper

#562 561 cors issue when trying to connect to a feature info agent from another stack
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/services/ContainerService.java
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/services/FeatureInfoAgentService.java
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/services/NginxService.java
Labels: bug, enhancement, visualisation, core-stack

#563 hotfix-remove-SNAPSHOT-from-manager-number: removed "SNAPSHOT" flag f…
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, core-stack

#574 573 stack data uploader config add ability to have geoserver sql queries in seperate referenced file
  Deploy/stacks/dynamic/example_datasets/inputs/config/cropmap.json
  Deploy/stacks/dynamic/example_datasets/inputs/config/cropmap.sql
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/PostgresDataSubset.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Vector.java
  Deploy/stacks/dynamic/stack-data-uploader/README.md
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: enhancement, core-stack
