Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2023-06, with the labels that each got.

#742 Mounting data into agents in stack
  Agents/FeatureInfoAgent/README.md
  Deploy/stacks/dynamic/common-scripts/common_functions.sh
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/StackClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/AbstractService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/BasicAgentService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/BlazegraphService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/ContainerService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/DockerService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/ExternallyAccessibleAgentService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/FeatureInfoAgentService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/GeoServerService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/NginxService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/OntopService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/PodmanService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/PostGISService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/ServiceManager.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/SupersetService.java
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/adminer.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/blazegraph.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/docker.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/feature-info-agent.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/gdal.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/geoserver.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/nginx.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/ontop.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/podman.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/postgis.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/superset.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/visualisation.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/volume-populator.json
  Deploy/stacks/dynamic/stack-core.code-workspace
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/README.md
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/inputs/queries/fia-config.json
  Deploy/stacks/dynamic/stack-manager/pom.xml
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/Stack.java
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/StackConfig.java
  Deploy/stacks/dynamic/stack-manager/src/main/resources/com/cmclinnovations/stack/defaults.txt
Labels: enhancement, infra-stack

#784 783 make volume populator use shell for command
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/volume-populator.json
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, infra-stack

#790 216 dev derivation no outputs
  Agents/DerivationAsynExample/DerivationAsynExample/pom.xml
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/DiffReverseAgent.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/DifferenceAgent.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/InitialiseInstances.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/InputAgent.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/MaxValueAgent.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/MinValueAgent.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/RNGAgent.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/SparqlClient.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/main/java/uk/ac/cam/cares/derivation/asynexample/UpdateDerivations.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/test/java/uk/ac/cam/cares/derivation/asynexample/DockerIntegrationTest.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/test/java/uk/ac/cam/cares/derivation/asynexample/IntegrationTest.java
  Agents/DerivationAsynExample/Dockerfile
  Agents/DerivationAsynExample/docker-compose.yml
  JPS_BASE_LIB/pom.xml
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/agent/AsynAgent.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/agent/DerivationAgent.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/Derivation.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationClient.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationInputs.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationOutputs.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationSparql.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivationOutputsTest.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivationSparqlIntegrationTest.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivedQuantityClientTest.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivedQuantitySparqlTest.java
Labels: enhancement, infra-derivation, infra-base-lib

#789 Fix -t_srs option for rasters in stack-data-uploader
  Deploy/stacks/dynamic/examples/datasets/inputs/config/elevation.json
  Deploy/stacks/dynamic/stack-clients/Dockerfile
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/TempTestCalls.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/PostgresDataSubset.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Raster.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/CommonOptions.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/GDALClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/GDALTranslateOptions.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/geoserver/GeoServerClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/postgis/PostGISClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/GeoServerService.java
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/geoserver.json
  Deploy/stacks/dynamic/stack-data-uploader/Dockerfile
  Deploy/stacks/dynamic/stack-data-uploader/README.md
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/Dockerfile
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, infra-stack

#801 217 dev derivation no outputs python
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/__init__.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/agent/derivation_agent.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/data_model/derivation.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/kg_operations/derivation_client.py
  JPS_BASE_LIB/python_derivation_agent/setup.py
  JPS_BASE_LIB/python_derivation_agent/tests/agents/agents_for_test.py
  JPS_BASE_LIB/python_derivation_agent/tests/agents/sparql_client_for_test.py
  JPS_BASE_LIB/python_derivation_agent/tests/conftest.py
  JPS_BASE_LIB/python_derivation_agent/tests/docker_entry_point.py
  JPS_BASE_LIB/python_derivation_agent/tests/resources/dummy_abox.ttl
  JPS_BASE_LIB/python_derivation_agent/tests/resources/dummy_tbox.ttl
  JPS_BASE_LIB/python_derivation_agent/tests/test_derivation_agent.py
  JPS_BASE_LIB/python_derivation_agent/tests/test_docker_integration.py
  JPS_BASE_LIB/python_derivation_agent/tests/test_sparql_client.py
  JPS_BASE_LIB/python_derivation_agent/tests/utils.py
  JPS_BASE_LIB/python_wrapper/py4jps/__init__.py
  JPS_BASE_LIB/python_wrapper/setup.py
Labels: enhancement, infra-derivation, python-wrapper, infra-base-lib

#802 218 hotfix derivation async example readme
  Agents/DerivationAsynExample/DerivationAsynExampleMode1.svg
  Agents/DerivationAsynExample/DerivationAsynExampleMode2.svg
  Agents/DerivationAsynExample/README.md
Labels: documentation, infra-derivation

#744 dev-dtvf-cesium-styling
  web/digital-twin-vis-framework/.gitignore
  web/digital-twin-vis-framework/CHANGELOG.md
  web/digital-twin-vis-framework/README.md
  web/digital-twin-vis-framework/VERSION
  web/digital-twin-vis-framework/example-cesium-vis/README.md
  web/digital-twin-vis-framework/example-cesium-vis/readme-styling.JPG
  web/digital-twin-vis-framework/example-cesium-vis/webspace/data.json
  web/digital-twin-vis-framework/example-cesium-vis/webspace/index.html
  web/digital-twin-vis-framework/example-mapbox-vis/README.md
  web/digital-twin-vis-framework/example-mapbox-vis/webspace/index.html
  web/digital-twin-vis-framework/library/docker/build.Dockerfile
  web/digital-twin-vis-framework/library/docker/docker-compose.yml
  web/digital-twin-vis-framework/library/docker/run.Dockerfile
  web/digital-twin-vis-framework/library/package.json
  web/digital-twin-vis-framework/library/src/css/dtvf.css
  web/digital-twin-vis-framework/library/src/ts/cesium/cesium_handler.ts
  web/digital-twin-vis-framework/library/src/ts/cesium/cesium_utils.ts
  web/digital-twin-vis-framework/library/src/ts/ui/panel_handler.ts
  web/digital-twin-vis-framework/library/version
Labels: enhancement, infra-vis, infra
