Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2023-09, with the labels that each got.

#895 Removed pull of our own geoserver image as we now use the official image
  Deploy/stacks/dynamic/common-scripts/start.sh
Labels: enhancement, infra-stack

#871 Instantiate vector building data as 3DCityDB buildings
  Deploy/stacks/dynamic/examples/datasets/inputs/config/building-bavaria.json
  Deploy/stacks/dynamic/examples/datasets/inputs/config/building-cambridge.json
  Deploy/stacks/dynamic/examples/datasets/inputs/config/building-cambridge.sql
  Deploy/stacks/dynamic/examples/datasets/inputs/config/building-hongkong.json
  Deploy/stacks/dynamic/examples/datasets/inputs/config/building-hongkong_mapbox.sql
  Deploy/stacks/dynamic/examples/datasets/inputs/config/building-hongkong_preprocess_building.sql
  Deploy/stacks/dynamic/examples/datasets/inputs/data/building-bavaria/README.md
  Deploy/stacks/dynamic/examples/datasets/inputs/data/building-bavaria/citydbOntop.obda
  Deploy/stacks/dynamic/examples/datasets/inputs/data/building-cambridge/README.md
  Deploy/stacks/dynamic/examples/datasets/inputs/data/building-cambridge/ontop_v2.obda
  Deploy/stacks/dynamic/examples/datasets/inputs/data/building-cambridge/tabular/README.md
  Deploy/stacks/dynamic/examples/datasets/inputs/data/building-cambridge/vector/README.md
  Deploy/stacks/dynamic/examples/datasets/inputs/data/building-hongkong/README.md
  Deploy/stacks/dynamic/examples/datasets/visualisation/building-bavaria/README.md
  Deploy/stacks/dynamic/examples/datasets/visualisation/building-bavaria/data.json
  Deploy/stacks/dynamic/examples/datasets/visualisation/building-bavaria/settings.json
  Deploy/stacks/dynamic/examples/datasets/visualisation/building-cambridge/Cesium/data.json
  Deploy/stacks/dynamic/examples/datasets/visualisation/building-cambridge/Cesium/settings.json
  Deploy/stacks/dynamic/examples/datasets/visualisation/building-cambridge/Mapbox/data.json
  Deploy/stacks/dynamic/examples/datasets/visualisation/building-cambridge/Mapbox/settings.json
  Deploy/stacks/dynamic/examples/datasets/visualisation/building-cambridge/README.md
  Deploy/stacks/dynamic/examples/datasets/visualisation/building-hongkong/Cesium/data.json
  Deploy/stacks/dynamic/examples/datasets/visualisation/building-hongkong/Cesium/settings.json
  Deploy/stacks/dynamic/examples/datasets/visualisation/building-hongkong/Mapbox/data.json
  Deploy/stacks/dynamic/examples/datasets/visualisation/building-hongkong/Mapbox/settings.json
  Deploy/stacks/dynamic/examples/datasets/visualisation/building-hongkong/README.md
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/citydb/CityDBClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/DataSubset.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/XtoCityDB.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/CityTilerService.java
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/clients/citydb/citydb_add_uuids_and_iris.sql
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/clients/citydb/citydb_fudge_thematic_surfaces.sql
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/clients/citydb/citydb_populate_citydb.sql
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/clients/citydb/citydb_preprocess_building.sql
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/clients/citydb/citydb_remove_fudged_thematic_surfaces.sql
  Deploy/stacks/dynamic/stack-data-uploader/README.md
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
  Deploy/stacks/dynamic/twa2.code-workspace
Labels: enhancement, infra-stack

#905 903 the stack data uploader doesnt recognise the geoserver creationoptions settings
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/GDALTranslateOptions.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, infra-stack

#920 dev-stack-uploader-static-file-readme-addition: Added a hint and a wa…
  Deploy/stacks/dynamic/stack-data-uploader/README.md
Labels: documentation, infra-stack

#919 Fixes for TWA-VF
  .github/scripts/twa-vf/check-version.sh
  .github/workflows/twa-vf_check-version.yml
  .github/workflows/twa-vf_release.yml
  web/twa-vis-framework/CHANGELOG.md
  web/twa-vis-framework/README.md
  web/twa-vis-framework/docs/cesium.md
  web/twa-vis-framework/docs/img/expected-file-tree.png
  web/twa-vis-framework/docs/resources/nhs.obda
  web/twa-vis-framework/docs/tutorial-mapbox.md
  web/twa-vis-framework/example-cesium-vis/run.sh
  web/twa-vis-framework/example-cesium-vis/settings.json
  web/twa-vis-framework/example-cesium-vis/webspace/index.html
  web/twa-vis-framework/example-cesium-vis/webspace/settings.json
  web/twa-vis-framework/example-mapbox-vis/run.sh
  web/twa-vis-framework/example-mapbox-vis/webspace/index.html
  web/twa-vis-framework/library/VERSION
  web/twa-vis-framework/library/build.sh
  web/twa-vis-framework/library/docker-compose.dev.yml
  web/twa-vis-framework/library/src/css/twa-vf.css
  web/twa-vis-framework/library/src/ts/cesium/cesium_handler.ts
  web/twa-vis-framework/library/src/ts/cesium/cesium_layer.ts
  web/twa-vis-framework/library/src/ts/cesium/cesium_utils.ts
  web/twa-vis-framework/library/src/ts/io/data_group.ts
  web/twa-vis-framework/library/src/ts/io/data_layer.ts
  web/twa-vis-framework/library/src/ts/io/settings.ts
  web/twa-vis-framework/library/src/ts/manager.ts
  web/twa-vis-framework/library/src/ts/mapbox/icon_handler.ts
  web/twa-vis-framework/library/src/ts/mapbox/mapbox_handler.ts
  web/twa-vis-framework/library/src/ts/mapbox/mapbox_layer.ts
  web/twa-vis-framework/library/src/ts/mapbox/mapbox_utils.ts
  web/twa-vis-framework/library/src/ts/ui/control_handler.ts
  web/twa-vis-framework/library/src/ts/ui/panel_handler.ts
  web/twa-vis-framework/library/src/ts/ui/popup_handler.ts
  web/twa-vis-framework/library/src/ts/ui/tree_handler.ts
  web/twa-vis-framework/library/src/ts/utils.ts
Labels: bug, enhancement, infra-vis, infra

#923 786 move stack images to GitHub
  Deploy/stacks/dynamic/common-scripts/start.sh
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/blazegraph.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/services/defaults/blazegraph.json
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/README.md
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: infra-stack, infra-base-lib
