Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2023-02, with the labels that each got.

#583 204 dev update ontoderivation namespace
  Agents/DerivationAsynExample/DerivationAsynExample/pom.xml
  Agents/DerivationAsynExample/README.md
  Agents/DerivationExample/DerivationExample/pom.xml
  Agents/DerivationExample/README.md
  JPS_BASE_LIB/pom.xml
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationSparql.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/README.md
  JPS_Ontology/ontology/ontoderivation/OntoDerivation.csv
  JPS_Ontology/ontology/ontoderivation/OntoDerivation.owl
Labels: derivation

#584 205 dev update python wrappers
  Agents/DerivationAgentPythonExample/requirements.txt
  Agents/DerivationAgentPythonExample/setup.py
  JPS_BASE_LIB/python_derivation_agent/README.md
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/__init__.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/data_model/iris.py
  JPS_BASE_LIB/python_derivation_agent/setup.py
  JPS_BASE_LIB/python_wrapper/py4jps/__init__.py
  JPS_BASE_LIB/python_wrapper/setup.py
Labels: derivation, python-wrapper

#589 207-dev-release-py4jps-for-TBoxGenerator: released py4jps 1.0.33 to b…
  JPS_BASE_LIB/python_wrapper/py4jps/__init__.py
  JPS_BASE_LIB/python_wrapper/setup.py
Labels: python-wrapper

#596 546 update stack tools to work with podman
  Deploy/stacks/dynamic/common-scripts/common_functions.sh
  Deploy/stacks/dynamic/common-scripts/ports.sh
  Deploy/stacks/dynamic/common-scripts/remove.sh
  Deploy/stacks/dynamic/common-scripts/rm.sh
  Deploy/stacks/dynamic/common-scripts/start.sh
  Deploy/stacks/dynamic/common-scripts/stop.sh
  Deploy/stacks/dynamic/stack-clients/docker-compose-build.yml
  Deploy/stacks/dynamic/stack-clients/docker-compose-docker.yml
  Deploy/stacks/dynamic/stack-clients/docker-compose-podman.yml
  Deploy/stacks/dynamic/stack-clients/docker-compose-stack.yml
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/StackClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/docker/ContainerClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/docker/ContainerManager.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/docker/DockerClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/docker/PodmanClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/utils/TempPath.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/github/dockerjava/jaxrs/ApiClientExtension.java
  Deploy/stacks/dynamic/stack-clients/src/main/swagger/podman/swagger-v4.3.yaml
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose-build.yml
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose-docker.yml
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose-podman.yml
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose-stack.yml
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose-build.yml
  Deploy/stacks/dynamic/stack-manager/docker-compose-stack.yml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/Stack.java
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/services/ContainerManagerService.java
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/services/DockerService.java
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/services/OntopService.java
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/services/PodmanService.java
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/services/ServiceManager.java
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/services/config/ServiceConfig.java
  Deploy/stacks/dynamic/stack-manager/src/main/resources/com/cmclinnovations/stack/services/defaults/podman.json
Labels: enhancement, core-stack

#613 208 dev derivation blazegraph
  Agents/DerivationAgentPythonExample/docker-compose-testcontainers.yml
  Agents/DerivationAsynExample/DerivationAsynExample/src/test/java/uk/ac/cam/cares/derivation/asynexample/DockerIntegrationTest.java
  Agents/DerivationAsynExample/DerivationAsynExample/src/test/java/uk/ac/cam/cares/derivation/asynexample/IntegrationTest.java
  Agents/DerivationAsynExample/README.md
  Agents/DerivationAsynExample/docker-compose.yml
  Agents/DerivationExample/README.md
  Agents/DerivationExample/docker-compose.yml
  Deploy/stacks/db/docker-compose.github.yml
  JPS_BASE_LIB/python_derivation_agent/README.md
  JPS_BASE_LIB/python_derivation_agent/docker-compose.test.yml
  JPS_BASE_LIB/python_derivation_agent/tests/conftest.py
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivationClientIntegrationTest.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivationOutputsIntegrationTest.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/DerivationSparqlIntegrationTest.java
Labels: derivation
