Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2023-05, with the labels that each got.

#515 Dev mods agent fixes to scaling and outputs
  Agents/MoDSSimpleAgent/Dockerfile
  Agents/MoDSSimpleAgent/docker-compose.yml
  Agents/MoDSSimpleAgent/examples/Evaluate.json
  Agents/MoDSSimpleAgent/examples/HDMR.json
  Agents/MoDSSimpleAgent/examples/MOO.json
  Agents/MoDSSimpleAgent/examples/MOOonly.json
  Agents/MoDSSimpleAgent/examples/Sensitivity.json
  Agents/MoDSSimpleAgent/mods-simple-agent/pom.xml
  Agents/MoDSSimpleAgent/mods-simple-agent/src/main/java/com/cmclinnovations/mods/modssimpleagent/BackendInputFile.java
  Agents/MoDSSimpleAgent/mods-simple-agent/src/main/java/com/cmclinnovations/mods/modssimpleagent/simulations/MOOonly.java
  Agents/MoDSSimpleAgent/mods-simple-agent/src/main/java/com/cmclinnovations/mods/modssimpleagent/simulations/Simulation.java
  Agents/MoDSSimpleAgent/mods-simple-agent/src/main/resources/application.properties
  Agents/MoDSSimpleAgent/savedsurrogates/.gitignore
Labels: bug

#741 dev-dtvf-patch-notes
  .github/scripts/dtvf/check-version.sh
  .github/scripts/dtvf/make-release-body.sh
  .github/scripts/dtvf/make-release-email.sh
  .github/workflows/base-lib_test.yml
  .github/workflows/dtvf_check-version.yml
  .github/workflows/dtvf_release.yml
  .github/workflows/email-agent_build.yml
  .github/workflows/email-agent_push.yml
  .github/workflows/feature-info-agent_build.yml
  .github/workflows/feature-info-agent_push.yml
  web/digital-twin-vis-framework/CHANGELOG.md
  web/digital-twin-vis-framework/VERSION
  web/digital-twin-vis-framework/library/release.html
Labels: enhancement, infra-vis, infra

#749 fix-dtvf-searching
  web/digital-twin-vis-framework/CHANGELOG.md
  web/digital-twin-vis-framework/README.md
  web/digital-twin-vis-framework/VERSION
  web/digital-twin-vis-framework/example-cesium-vis/README.md
  web/digital-twin-vis-framework/example-cesium-vis/webspace/index.html
  web/digital-twin-vis-framework/example-mapbox-vis/README.md
  web/digital-twin-vis-framework/example-mapbox-vis/docker/docker-compose.yml
  web/digital-twin-vis-framework/example-mapbox-vis/webspace/index.html
  web/digital-twin-vis-framework/library/src/ts/mapbox/mapbox_search.ts
  web/digital-twin-vis-framework/library/src/ts/ui/search_handler.ts
  web/digital-twin-vis-framework/library/version
Labels: bug, infra-vis, infra

#736 215 dev render description logic latex
  JPS_BASE_LIB/pom.xml
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/converter/DescriptionLogicGenerator.java
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/converter/README.md
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/converter/TBoxGeneration.java
  JPS_BASE_LIB/src/main/resources/ontology.namespaces.properties
Labels: enhancement, infra-base-lib
