Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2023-10, with the labels that each got.

#951 hotfix-twa-vf:
  web/twa-vis-framework/CHANGELOG.md
  web/twa-vis-framework/library/VERSION
  web/twa-vis-framework/library/src/css/twa-vf.css
  web/twa-vis-framework/library/src/ts/ui/timeseries_handler.ts
Labels: bug, infra-vis, infra

#961 hotfix-fia
  .github/workflows/feature-info-agent_push.yml
  Agents/FeatureInfoAgent/README.md
  Agents/FeatureInfoAgent/docs/meta-query-example.jpg
  Agents/FeatureInfoAgent/docs/time-query-example.jpg
  Agents/FeatureInfoAgent/examples/README.md
  Agents/FeatureInfoAgent/examples/mock-config-file.json
  Agents/FeatureInfoAgent/examples/reporting-station.obda
  Agents/FeatureInfoAgent/examples/station_meta.sparql
  Agents/FeatureInfoAgent/examples/station_time.sparql
Labels: bug, documentation

#966 1659 dev isochroneagent
  Agents/IsochroneAgent/.dockerignore
  Agents/IsochroneAgent/.gitignore
  Agents/IsochroneAgent/.m2/settings-security.xml
  Agents/IsochroneAgent/.m2/settings.xml
  Agents/IsochroneAgent/Dockerfile
  Agents/IsochroneAgent/README.md
  Agents/IsochroneAgent/credentials/.gitignore
  Agents/IsochroneAgent/docker-compose.yml
  Agents/IsochroneAgent/docker/entrypoint.sh
  Agents/IsochroneAgent/inputs/15MSC/POIqueries/amenities.sparql
  Agents/IsochroneAgent/inputs/15MSC/edgesSQLTable/Cycle_Normal.sql
  Agents/IsochroneAgent/inputs/15MSC/edgesSQLTable/Drive_Normal.sql
  Agents/IsochroneAgent/inputs/15MSC/edgesSQLTable/Walk_Normal.sql
  Agents/IsochroneAgent/inputs/UR/POIqueries/hospital.sparql
  Agents/IsochroneAgent/inputs/UR/edgesSQLTable/Drive_Flooded.sql
  Agents/IsochroneAgent/inputs/UR/edgesSQLTable/Drive_Normal.sql
  Agents/IsochroneAgent/inputs/config.properties
  Agents/IsochroneAgent/inputs/isochrone.obda
  Agents/IsochroneAgent/isochroneagent/WEB-INF/web.xml
  Agents/IsochroneAgent/isochroneagent/pom.xml
  Agents/IsochroneAgent/isochroneagent/src/main/java/uk/ac/cam/cares/jps/agent/isochroneagent/EndpointConfig.java
  Agents/IsochroneAgent/isochroneagent/src/main/java/uk/ac/cam/cares/jps/agent/isochroneagent/FileReader.java
  Agents/IsochroneAgent/isochroneagent/src/main/java/uk/ac/cam/cares/jps/agent/isochroneagent/IsochroneAgent.java
  Agents/IsochroneAgent/isochroneagent/src/main/java/uk/ac/cam/cares/jps/agent/isochroneagent/IsochroneGenerator.java
  Agents/IsochroneAgent/isochroneagent/src/main/java/uk/ac/cam/cares/jps/agent/isochroneagent/PopulationMapper.java
  Agents/IsochroneAgent/isochroneagent/src/main/java/uk/ac/cam/cares/jps/agent/isochroneagent/RouteSegmentization.java
  Agents/IsochroneAgent/isochroneagent/src/test/java/uk/ac/cam/cares/jps/agent/isochroneagent/IsochroneAgentTest.java
  Agents/IsochroneAgent/isochroneagent/src/test/java/uk/ac/cam/cares/jps/agent/isochroneagent/IsochroneGeneratorTest.java
  Agents/IsochroneAgent/isochroneagent/src/test/java/uk/ac/cam/cares/jps/agent/isochroneagent/resources/configTest.properties
  Agents/IsochroneAgent/stack-data-uploader-inputs/inputs/config/15MSC_pirmasens.json
  Agents/IsochroneAgent/stack-data-uploader-inputs/inputs/config/kingslynn.json
  Agents/IsochroneAgent/stack-data-uploader-inputs/inputs/config/uk-population-style.sld
  Agents/IsochroneAgent/stack-data-uploader-inputs/inputs/data/15MSC_pirmasens/ontoisochrone/.gitignore
  Agents/IsochroneAgent/stack-data-uploader-inputs/inputs/data/15MSC_pirmasens/population/.gitignore
  Agents/IsochroneAgent/stack-data-uploader-inputs/inputs/data/15MSC_pirmasens/population_childrenU5/.gitignore
  Agents/IsochroneAgent/stack-data-uploader-inputs/inputs/data/15MSC_pirmasens/population_elderly/.gitignore
  Agents/IsochroneAgent/stack-data-uploader-inputs/inputs/data/15MSC_pirmasens/population_men/.gitignore
  Agents/IsochroneAgent/stack-data-uploader-inputs/inputs/data/15MSC_pirmasens/population_women/.gitignore
  Agents/IsochroneAgent/stack-data-uploader-inputs/inputs/data/15MSC_pirmasens/population_women_reproductive/.gitignore
  Agents/IsochroneAgent/stack-data-uploader-inputs/inputs/data/15MSC_pirmasens/population_youth/.gitignore
  Agents/IsochroneAgent/stack-data-uploader-inputs/inputs/data/15MSC_pirmasens/routing/.gitignore
  Agents/IsochroneAgent/stack-data-uploader-inputs/inputs/data/15MSC_pirmasens/sql/.gitignore
  Agents/IsochroneAgent/stack-data-uploader-inputs/inputs/data/kingslynn/population/.gitignore
  Agents/IsochroneAgent/stack-manager-input-config/isochroneagent-debug.json
  Agents/IsochroneAgent/stack-manager-input-config/isochroneagent.json
  Agents/IsochroneAgent/twa-vf/15MSCPirmasens/webspace/data.json
  Agents/IsochroneAgent/twa-vf/FeatureInfoAgent/queries/fia-config.json
  Agents/IsochroneAgent/twa-vf/FeatureInfoAgent/queries/isochrone.sparql
Labels: enhancement

#980 899 use post instead of get for derivation
  JPS_BASE_LIB/pom.xml
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/DerivationClient.java
Labels: infra-derivation

#981 222 dev python derivation http post
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/__init__.py
  JPS_BASE_LIB/python_derivation_agent/pyderivationagent/agent/derivation_agent.py
  JPS_BASE_LIB/python_derivation_agent/setup.py
  JPS_BASE_LIB/python_derivation_agent/tests/docker_entry_point.py
  JPS_BASE_LIB/python_derivation_agent/tests/test_docker_integration.py
  JPS_BASE_LIB/python_wrapper/py4jps/__init__.py
  JPS_BASE_LIB/python_wrapper/setup.py
Labels: infra-derivation, python-wrapper

#970 865-DataSubset-split-to-Load/Process/Layer
  Deploy/stacks/dynamic/examples/datasets/README.md
  Deploy/stacks/dynamic/examples/datasets/inputs/config/building-bavaria.json
  Deploy/stacks/dynamic/examples/datasets/inputs/config/building-cambridge.json
  Deploy/stacks/dynamic/examples/datasets/inputs/config/building-hongkong.json
  Deploy/stacks/dynamic/examples/datasets/inputs/config/elevation.json
  Deploy/stacks/dynamic/examples/datasets/inputs/config/population.json
  Deploy/stacks/dynamic/examples/datasets/inputs/config/routing.json
  Deploy/stacks/dynamic/examples/datasets/inputs/config/tboxcsv.json
  Deploy/stacks/dynamic/examples/datasets/inputs/data/buildings/bavaria/README.md
  Deploy/stacks/dynamic/examples/datasets/inputs/data/buildings/bavaria/citydbOntop.obda
  Deploy/stacks/dynamic/examples/datasets/inputs/data/buildings/hongkong/README.md
  Deploy/stacks/dynamic/examples/datasets/inputs/data/population/population/README.md
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/DataSubset.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/PostgresDataSubset.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/RDF.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/TBoxCSV.java
  Deploy/stacks/dynamic/stack-data-uploader/README.md
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, enhancement, infra-stack

#964 963 filter agent
  Agents/FilterAgent/.env
  Agents/FilterAgent/.gitignore
  Agents/FilterAgent/.m2/settings-security.xml
  Agents/FilterAgent/.m2/settings.xml
  Agents/FilterAgent/Dockerfile
  Agents/FilterAgent/README.md
  Agents/FilterAgent/credentials/.gitignore
  Agents/FilterAgent/docker-compose-build.yml
  Agents/FilterAgent/docker-compose-debug.yml
  Agents/FilterAgent/docker-compose-stack.yml
  Agents/FilterAgent/docker-compose.yml
  Agents/FilterAgent/entrypoint.sh
  Agents/FilterAgent/example_input.json
  Agents/FilterAgent/filter-agent/pom.xml
  Agents/FilterAgent/filter-agent/src/main/java/com/cmclinnovations/filteragent/EnvConfig.java
  Agents/FilterAgent/filter-agent/src/main/java/com/cmclinnovations/filteragent/FilterAgentApplication.java
  Agents/FilterAgent/filter-agent/src/main/java/com/cmclinnovations/filteragent/QueryClient.java
  Agents/FilterAgent/filter-agent/src/main/java/com/cmclinnovations/filteragent/ServletInitializer.java
  Agents/FilterAgent/filter-agent/src/main/java/com/cmclinnovations/filteragent/objects/IriObject.java
  Agents/FilterAgent/filter-agent/src/main/java/com/cmclinnovations/filteragent/objects/MapObject.java
  Agents/FilterAgent/filter-agent/src/main/java/com/cmclinnovations/filteragent/utils/FileUtils.java
  Agents/FilterAgent/filter-agent/src/main/java/com/cmclinnovations/filteragent/utils/ReplacementUtils.java
  Agents/FilterAgent/filter-agent/src/test/java/com/cmclinnovations/filteragent/FilterAgentApplicationTests.java
  Agents/FilterAgent/stack.sh
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/filter-agent.json
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: enhancement, infra-vis
