Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2023-11, with the labels that each got.

#1017 dev-add-grafana-stack-service
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/grafana/GrafanaEndpointConfig.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/GrafanaService.java
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/grafana.json
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: enhancement, infra-stack

#1019 1691 dev travelling salesman agent
  Agents/TravellingSalesmanAgent/.dockerignore
  Agents/TravellingSalesmanAgent/.gitignore
  Agents/TravellingSalesmanAgent/.m2/settings-security.xml
  Agents/TravellingSalesmanAgent/.m2/settings.xml
  Agents/TravellingSalesmanAgent/Dockerfile
  Agents/TravellingSalesmanAgent/README.md
  Agents/TravellingSalesmanAgent/credentials/.gitignore
  Agents/TravellingSalesmanAgent/docker-compose-build.yml
  Agents/TravellingSalesmanAgent/docker-compose-stack.yml
  Agents/TravellingSalesmanAgent/docker-compose.yml
  Agents/TravellingSalesmanAgent/docker/entrypoint.sh
  Agents/TravellingSalesmanAgent/inputs/UR/POIqueries/grid_primary_site.sparql
  Agents/TravellingSalesmanAgent/inputs/UR/edgesSQLTable/Drive_Flooded_30cm.sql
  Agents/TravellingSalesmanAgent/inputs/UR/edgesSQLTable/Drive_Flooded_90cm.sql
  Agents/TravellingSalesmanAgent/inputs/UR/edgesSQLTable/Drive_Normal.sql
  Agents/TravellingSalesmanAgent/inputs/config.properties
  Agents/TravellingSalesmanAgent/stack-manager-config/data/webspace/data_UR.json
  Agents/TravellingSalesmanAgent/stack-manager-config/inputs/config/services/travellingsalesmanagent-debug.json
  Agents/TravellingSalesmanAgent/stack-manager-config/inputs/config/services/travellingsalesmanagent.json
  Agents/TravellingSalesmanAgent/stack.sh
  Agents/TravellingSalesmanAgent/travellingsalesmanagent/WEB-INF/web.xml
  Agents/TravellingSalesmanAgent/travellingsalesmanagent/pom.xml
  Agents/TravellingSalesmanAgent/travellingsalesmanagent/src/main/java/uk/ac/cam/cares/jps/agent/travellingsalesmanagent/EndpointConfig.java
  Agents/TravellingSalesmanAgent/travellingsalesmanagent/src/main/java/uk/ac/cam/cares/jps/agent/travellingsalesmanagent/FileReader.java
  Agents/TravellingSalesmanAgent/travellingsalesmanagent/src/main/java/uk/ac/cam/cares/jps/agent/travellingsalesmanagent/NearestNodeFinder.java
  Agents/TravellingSalesmanAgent/travellingsalesmanagent/src/main/java/uk/ac/cam/cares/jps/agent/travellingsalesmanagent/TSPRouteGenerator.java
  Agents/TravellingSalesmanAgent/travellingsalesmanagent/src/main/java/uk/ac/cam/cares/jps/agent/travellingsalesmanagent/TravellingSalesmanAgent.java
Labels: enhancement

#1021 1692 dev network analysis agent
  Agents/NetworkAnalysisAgent/.dockerignore
  Agents/NetworkAnalysisAgent/.gitignore
  Agents/NetworkAnalysisAgent/.m2/settings-security.xml
  Agents/NetworkAnalysisAgent/.m2/settings.xml
  Agents/NetworkAnalysisAgent/Dockerfile
  Agents/NetworkAnalysisAgent/README.md
  Agents/NetworkAnalysisAgent/credentials/.gitignore
  Agents/NetworkAnalysisAgent/docker-compose-build.yml
  Agents/NetworkAnalysisAgent/docker-compose-stack.yml
  Agents/NetworkAnalysisAgent/docker-compose.yml
  Agents/NetworkAnalysisAgent/docker/entrypoint.sh
  Agents/NetworkAnalysisAgent/inputs/UR/POIqueries/hospital.sparql
  Agents/NetworkAnalysisAgent/inputs/UR/edgesSQLTable/Drive_Flooded_30cm.sql
  Agents/NetworkAnalysisAgent/inputs/UR/edgesSQLTable/Drive_Normal.sql
  Agents/NetworkAnalysisAgent/inputs/config.properties
  Agents/NetworkAnalysisAgent/networkanalysisagent/WEB-INF/web.xml
  Agents/NetworkAnalysisAgent/networkanalysisagent/pom.xml
  Agents/NetworkAnalysisAgent/networkanalysisagent/src/main/java/uk/ac/cam/cares/jps/agent/networkanalysisagent/EndpointConfig.java
  Agents/NetworkAnalysisAgent/networkanalysisagent/src/main/java/uk/ac/cam/cares/jps/agent/networkanalysisagent/FileReader.java
  Agents/NetworkAnalysisAgent/networkanalysisagent/src/main/java/uk/ac/cam/cares/jps/agent/networkanalysisagent/NetworkAnalysisAgent.java
  Agents/NetworkAnalysisAgent/networkanalysisagent/src/main/java/uk/ac/cam/cares/jps/agent/networkanalysisagent/TripCentralityCalculator.java
  Agents/NetworkAnalysisAgent/stack-manager-config/data/webspace/data_UR.json
  Agents/NetworkAnalysisAgent/stack-manager-config/inputs/config/services/networkanalysisagent-debug.json
  Agents/NetworkAnalysisAgent/stack-manager-config/inputs/config/services/networkanalysisagent.json
  Agents/NetworkAnalysisAgent/stack.sh
Labels: enhancement

#1024 Dev trafficrouting op dft
  Agents/IsochroneAgent/inputs/UR/edgesSQLTable/Drive_Flooded.sql
  web/kingslynn-flood-routing/IsochroneAgent/inputs/config.properties
  web/kingslynn-flood-routing/README.md
  web/kingslynn-flood-routing/TSP.png
  web/kingslynn-flood-routing/TravellingSalesmanAgent/inputs/UR/POIqueries/grid_primary_site.sparql
  web/kingslynn-flood-routing/copy.sh
  web/kingslynn-flood-routing/stack-data-uploader-inputs/config/flood-style.sld
  web/kingslynn-flood-routing/stack-data-uploader-inputs/config/kingslynn_flood_road_data.json
  web/kingslynn-flood-routing/stack-data-uploader-inputs/config/kingslynn_grid_primary_site.json
  web/kingslynn-flood-routing/stack-data-uploader-inputs/config/kingslynn_routing_layers.json
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/README.md
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/elevation/.gitignore
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/flood/.gitignore
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/floodrouter.jpg
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/grid_primary_site.obda
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/grid_primary_site/grid-and-primary-sites.csv
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/icons/health-hospital.png
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/icons/power-primary-legend.png
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/icons/power-secondary-legend.png
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/population/.gitignore
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/routing/.gitignore
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/sql/nearest_vertex.sql
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/sql/roaddisplay.sql
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/sql/shortest_paths.sql
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/sql/static/elevation.sql
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/sql/static/flood.sql
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/sql/static/grid_primary_site.sql
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/sql/tripcentrality.sql
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/sql/virtualTables/shortest_paths_with_flood_10.sql
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/sql/virtualTables/shortest_paths_with_flood_30.sql
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/sql/virtualTables/shortest_paths_with_flood_90.sql
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/sql/virtualTables/tsp_nodes.sql
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/sql/virtualTables/tsp_visualization_flooded.sql
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/sql/virtualTables/tsp_visualization_flooded_90.sql
  web/kingslynn-flood-routing/stack-data-uploader-inputs/data/kingslynn/sql/virtualTables/tsp_visualization_unflooded.sql
  web/kingslynn-flood-routing/stack-manager-inputs/config/routing.json
  web/kingslynn-flood-routing/stack-manager-inputs/config/services/geoserver.json
  web/kingslynn-flood-routing/stack-manager-inputs/config/services/isochroneagent.json
  web/kingslynn-flood-routing/stack-manager-inputs/config/services/networkanalysisagent.json
  web/kingslynn-flood-routing/stack-manager-inputs/config/services/travellingsalesmanagent.json
  web/kingslynn-flood-routing/stack-manager-inputs/data/webspace/data.json
  web/kingslynn-flood-routing/stack-manager-inputs/data/webspace/favicon.ico
  web/kingslynn-flood-routing/stack-manager-inputs/data/webspace/icons.json
  web/kingslynn-flood-routing/stack-manager-inputs/data/webspace/index.html
  web/kingslynn-flood-routing/stack-manager-inputs/data/webspace/legend.html
  web/kingslynn-flood-routing/stack-manager-inputs/data/webspace/links.json
  web/kingslynn-flood-routing/stack-manager-inputs/data/webspace/local.css
  web/kingslynn-flood-routing/stack-manager-inputs/data/webspace/local.js
  web/kingslynn-flood-routing/stack-manager-inputs/data/webspace/settings.json
  web/kingslynn-flood-routing/stack.sh
Labels: enhancement

#1023 Dev grafana service bug fix for invalid config
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/EndpointNames.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/grafana/GrafanaEndpointConfig.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/GrafanaService.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, infra-stack

#1034 hotfix-stack-docker-compose-labels
  Deploy/stacks/dynamic/stack-clients/docker-compose-stack.yml
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose-stack.yml
  Deploy/stacks/dynamic/stack-manager/docker-compose-stack.yml
Labels: bug, infra-stack
