Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2023-07, with the labels that each got.

#805 219-hotfix-py4jps-stack-client
  JPS_BASE_LIB/python_wrapper/README.md
  JPS_BASE_LIB/python_wrapper/py4jps/__init__.py
  JPS_BASE_LIB/python_wrapper/setup.py
Labels: bug, python-wrapper

#763 dev-dtvf-config-url
  web/digital-twin-vis-framework/CHANGELOG.md
  web/digital-twin-vis-framework/README.md
  web/digital-twin-vis-framework/VERSION
  web/digital-twin-vis-framework/example-cesium-vis/README.md
  web/digital-twin-vis-framework/example-cesium-vis/webspace/index.html
  web/digital-twin-vis-framework/example-mapbox-vis/README.md
  web/digital-twin-vis-framework/example-mapbox-vis/webspace/index.html
  web/digital-twin-vis-framework/library/src/ts/io/data_store.ts
  web/digital-twin-vis-framework/library/src/ts/io/settings.ts
  web/digital-twin-vis-framework/library/src/ts/manager.ts
  web/digital-twin-vis-framework/library/src/ts/mapbox/mapbox_handler.ts
  web/digital-twin-vis-framework/library/src/ts/mapbox/mapbox_search.ts
  web/digital-twin-vis-framework/library/src/ts/mapbox/mapbox_utils.ts
  web/digital-twin-vis-framework/library/src/ts/utils.ts
Labels: enhancement, infra-vis, infra

#822 dev-main-readme
  JPS_ACCESS_AGENT/README.md
  README.md
  web/media/twa-logo-blue.svg
  web/media/twa-logo-grey.svg
  web/media/twa-logo-white.svg
  web/media/twa-readme-header.png
Labels: documentation

#743 Example visualization Mapbox API credentials from Docker secret files
  .github/scripts/dtvf/check-version.sh
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/VisualisationService.java
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/visualisation.json
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/README.md
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
  web/digital-twin-vis-framework/.gitignore
  web/digital-twin-vis-framework/CHANGELOG.md
  web/digital-twin-vis-framework/README.md
  web/digital-twin-vis-framework/VERSION
  web/digital-twin-vis-framework/example-cesium-vis/README.md
  web/digital-twin-vis-framework/example-cesium-vis/webspace/index.html
  web/digital-twin-vis-framework/example-mapbox-vis/README.md
  web/digital-twin-vis-framework/example-mapbox-vis/webspace/index.html
  web/digital-twin-vis-framework/library/package.json
  web/digital-twin-vis-framework/library/release.html
  web/digital-twin-vis-framework/library/src/ts/manager.ts
  web/digital-twin-vis-framework/library/version
Labels: enhancement, infra-vis

#807 hotfix-geoserver-client: Bumped the stack version number.
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/geoserver/GeoServerClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/GeoServerService.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, infra-stack

#849 Hotfix postgres db names and podman
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/postgis/PostGISClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/GeoServerService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/PodmanService.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, infra-stack

#853 220 hotfix values clause query string
  JPS_BASE_LIB/pom.xml
  JPS_BASE_LIB/python_wrapper/py4jps/__init__.py
  JPS_BASE_LIB/python_wrapper/setup.py
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/derivation/ValuesPattern.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/derivation/ValuesPatternTest.java
Labels: bug, infra-derivation

#341 Make it possible to upload CityGML and CityJSON files into the stack
  Deploy/stacks/dynamic/.gitattributes
  Deploy/stacks/dynamic/common-scripts/start.sh
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/citydb/CityDBClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/citydb/CityTilerClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/citydb/CityTilerColours.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/citydb/CityTilerOptions.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/citydb/ImpExpOptions.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/AbstractEndpointConfig.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/ClientWithEndpoint.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/EndpointConfig.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/StackClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/CityDB.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/DataSubset.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Dataset.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/DatasetLoader.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/PostgresDataSubset.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Raster.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Tabular.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Vector.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/docker/BaseClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/docker/ContainerClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/docker/DockerClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/GDALClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/ontop/SQLPPMappingImplementation.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/utils/AbstractTempPath.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/utils/FileUtils.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/utils/LocalTempDir.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/utils/LocalTempFile.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/utils/LocalTempPath.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/utils/TempDir.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/utils/TempFile.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/utils/TempPath.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/AbstractService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/BlazegraphService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/CityDBImpExpService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/CityTilerService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/ContainerService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/DockerService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/OntopService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/PostGISService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/ServiceManager.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/SupersetService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/VisualisationService.java
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/clients/citydb/citydb_add_uuids_and_iris.sql
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/clients/citydb/citydb_fudge_thematic_surfaces.sql
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/clients/citydb/citydb_remove_fudged_thematic_surfaces.sql
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/citydbimpexp.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/citytiler.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/geoserver.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/postgis.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/citytiler/0001-Added-generic_attributes.patch
  Deploy/stacks/dynamic/stack-data-uploader/README.md
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
  Deploy/stacks/dynamic/stack-manager/src/main/resources/com/cmclinnovations/stack/defaults.txt
Labels: enhancement, infra-stack

#854 221-dev-py4jps-1037: released py4jps 1.0.37 to PyPI.
  JPS_BASE_LIB/python_wrapper/py4jps/__init__.py
  JPS_BASE_LIB/python_wrapper/setup.py
Labels: infra-derivation, python-wrapper
