Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2023-12, with the labels that each got.

#1038 Fixed issue when building stack projects using VSCode interface
  Deploy/stacks/dynamic/stack-clients/.vscode/tasks.json
  Deploy/stacks/dynamic/stack-data-uploader/.vscode/tasks.json
  Deploy/stacks/dynamic/stack-manager/.vscode/tasks.json
Labels: bug, enhancement, infra-stack

#1040 Fixes to stack code for running with Podman
  Deploy/stacks/dynamic/common-scripts/common_functions.sh
  Deploy/stacks/dynamic/common-scripts/start.sh
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/StackClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/docker/DockerClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/DockerService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/PodmanService.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/Stack.java
Labels: bug, infra-stack

#967 CityDB to LOD1 improvements
  Deploy/stacks/dynamic/examples/datasets/README.md
  Deploy/stacks/dynamic/examples/datasets/inputs/config/mapbox-footprint-flipxy.sql
  Deploy/stacks/dynamic/examples/datasets/inputs/config/mapbox-footprint.sql
  Deploy/stacks/dynamic/examples/datasets/inputs/data/building-cambridge/ontop_v2.obda
  Deploy/stacks/dynamic/examples/datasets/inputs/data/buildings/bavaria/README.md
  Deploy/stacks/dynamic/examples/datasets/inputs/data/buildings/bavaria/citydbOntop.obda
  Deploy/stacks/dynamic/examples/datasets/inputs/data/buildings/citydbOntop.obda
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/citydb/CityDBClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/citydb/CityTilerClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/CityDB.java
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/clients/citydb/citydb_add_footprint.sql
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/clients/citydb/citydb_relog_table.sql
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/clients/citydb/citydb_thematic_surface_discovery.sql
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/clients/citydb/citydb_unlog_table.sql
  Deploy/stacks/dynamic/stack-data-uploader/README.md
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, enhancement, infra-stack

#1043 twa-web-docs
  web/README.md
  web/docs/README.md
  web/docs/url-testing/.gitignore
  web/docs/url-testing/Dockerfile
  web/docs/url-testing/direct.JPG
  web/docs/url-testing/docker-compose.yml
  web/docs/url-testing/example-service/images/image-one.png
  web/docs/url-testing/example-service/images/image-three.png
  web/docs/url-testing/example-service/images/image-two.png
  web/docs/url-testing/example-service/index.html
  web/docs/url-testing/nginx/certificate.sh
  web/docs/url-testing/nginx/index.html
  web/docs/url-testing/nginx/nginx.conf
  web/docs/url-testing/nginx/redirect.conf
  web/docs/url-testing/redirect.JPG
  web/docs/url-testing/start.sh
  web/docs/url-testing/stop.sh
Labels: documentation, enhancement

#1049 Fixed typos in README.md
  web/docs/README.md
Labels: documentation

#1015 1012 fia caches enforcedendpoint
  Agents/FeatureInfoAgent/CHANGELOG.md
  Agents/FeatureInfoAgent/code/pom.xml
  Agents/FeatureInfoAgent/code/src/main/java/com/cmclinnovations/featureinfo/FeatureInfoAgent.java
  Agents/FeatureInfoAgent/code/src/main/java/com/cmclinnovations/featureinfo/QueryManager.java
  Agents/FeatureInfoAgent/code/src/main/java/com/cmclinnovations/featureinfo/core/ClassHandler.java
  Agents/FeatureInfoAgent/code/src/main/java/com/cmclinnovations/featureinfo/core/meta/MetaHandler.java
  Agents/FeatureInfoAgent/code/src/main/java/com/cmclinnovations/featureinfo/core/time/MeasurableBuilder.java
  Agents/FeatureInfoAgent/code/src/main/java/com/cmclinnovations/featureinfo/core/time/TimeHandler.java
  Agents/FeatureInfoAgent/code/src/main/java/com/cmclinnovations/featureinfo/objects/Request.java
  Agents/FeatureInfoAgent/code/src/main/java/com/cmclinnovations/featureinfo/utils/Utils.java
  Agents/FeatureInfoAgent/code/src/test/java/com/cmclinnovations/featureinfo/core/ClassHandlerTest.java
  Agents/FeatureInfoAgent/code/src/test/java/com/cmclinnovations/featureinfo/core/meta/MetaHandlerTest.java
  Agents/FeatureInfoAgent/code/src/test/java/com/cmclinnovations/featureinfo/core/time/TimeHandlerTest.java
Labels: bug
