Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2024-03, with the labels that each got.

#1095 1457 develop mobileappagent
  Agents/SensorLoggerMobileAppAgent/.dockerignore
  Agents/SensorLoggerMobileAppAgent/.gitignore
  Agents/SensorLoggerMobileAppAgent/.m2/settings-security.xml
  Agents/SensorLoggerMobileAppAgent/.m2/settings.xml
  Agents/SensorLoggerMobileAppAgent/.vscode/launch.json
  Agents/SensorLoggerMobileAppAgent/.vscode/port.txt
  Agents/SensorLoggerMobileAppAgent/.vscode/settings.json
  Agents/SensorLoggerMobileAppAgent/.vscode/tasks.json
  Agents/SensorLoggerMobileAppAgent/Dockerfile
  Agents/SensorLoggerMobileAppAgent/README.md
  Agents/SensorLoggerMobileAppAgent/accessagent_resources/createStoreRouter.sh
  Agents/SensorLoggerMobileAppAgent/accessagent_resources/routing.json
  Agents/SensorLoggerMobileAppAgent/accessagent_resources/uploadRouting.sh
  Agents/SensorLoggerMobileAppAgent/copy.sh
  Agents/SensorLoggerMobileAppAgent/credentials/.gitignore
  Agents/SensorLoggerMobileAppAgent/docker-compose-build.yml
  Agents/SensorLoggerMobileAppAgent/docker-compose-debug.yml
  Agents/SensorLoggerMobileAppAgent/docker-compose-stack.yml
  Agents/SensorLoggerMobileAppAgent/docker-compose.yml
  Agents/SensorLoggerMobileAppAgent/docker/entrypoint.sh
  Agents/SensorLoggerMobileAppAgent/sensorloggermobileappagent/WEB-INF/web.xml
  Agents/SensorLoggerMobileAppAgent/sensorloggermobileappagent/pom.xml
  Agents/SensorLoggerMobileAppAgent/sensorloggermobileappagent/src/main/java/uk/ac/cam/cares/jps/agent/sensorloggermobileappagent/EndpointConfig.java
  Agents/SensorLoggerMobileAppAgent/sensorloggermobileappagent/src/main/java/uk/ac/cam/cares/jps/agent/sensorloggermobileappagent/KGQueryClient.java
  Agents/SensorLoggerMobileAppAgent/sensorloggermobileappagent/src/main/java/uk/ac/cam/cares/jps/agent/sensorloggermobileappagent/SensorLoggerMobileAppAgent.java
  Agents/SensorLoggerMobileAppAgent/sensorloggermobileappagent/src/main/java/uk/ac/cam/cares/jps/agent/sensorloggermobileappagent/StaticInstantiation.java
  Agents/SensorLoggerMobileAppAgent/sensorloggermobileappagent/src/main/java/uk/ac/cam/cares/jps/agent/sensorloggermobileappagent/TimeseriesInstantiation.java
  Agents/SensorLoggerMobileAppAgent/sensorloggermobileappagent/src/main/resources/SamplePOST.http
  Agents/SensorLoggerMobileAppAgent/sensorloggermobileappagent/src/main/resources/config.properties
  Agents/SensorLoggerMobileAppAgent/stack-manager-config/inputs/config/services/sensorloggermobileappagent-debug.json
  Agents/SensorLoggerMobileAppAgent/stack-manager-config/inputs/config/services/sensorloggermobileappagent.json
  Agents/SensorLoggerMobileAppAgent/stack.sh
Labels: enhancement

#1143 Hotfix raster table names
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/GDALClient.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, infra-stack

#1149 Dev py4jps twa
  JPS_BASE_LIB/python_wrapper/MANIFEST.in
  JPS_BASE_LIB/python_wrapper/README.md
  JPS_BASE_LIB/python_wrapper/install_script_conda.sh
  JPS_BASE_LIB/python_wrapper/install_script_pip.sh
  JPS_BASE_LIB/python_wrapper/py4jps/__init__.py
  JPS_BASE_LIB/python_wrapper/py4jps/resRegistry/__init__.py
  JPS_BASE_LIB/python_wrapper/py4jps/resources/__init__.py
  JPS_BASE_LIB/python_wrapper/release_twa_to_pypi.sh
  JPS_BASE_LIB/python_wrapper/setup.py
  JPS_BASE_LIB/python_wrapper/tests/test_logging.py
  JPS_BASE_LIB/python_wrapper/tests/test_wrapper.py
  JPS_BASE_LIB/python_wrapper/twa/JPSGateway.py
  JPS_BASE_LIB/python_wrapper/twa/__init__.py
  JPS_BASE_LIB/python_wrapper/twa/agentlogging/__init__.py
  JPS_BASE_LIB/python_wrapper/twa/agentlogging/logging.conf
  JPS_BASE_LIB/python_wrapper/twa/agentlogging/logging.py
  JPS_BASE_LIB/python_wrapper/twa/resRegistry/__init__.py
  JPS_BASE_LIB/python_wrapper/twa/resRegistry/resManager.py
  JPS_BASE_LIB/python_wrapper/twa/resRegistry/resRegistry.py
  JPS_BASE_LIB/python_wrapper/twa/resources/__init__.py
Labels: enhancement, python-wrapper, infra

#1138 Format the time String put into the times table in Postgres
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/GDALClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/geoserver/GeoServerClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/utils/DateStringFormatter.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: enhancement
