Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2024-06, with the labels that each got.

#1219 Hotfix-stack-clients-spring-nested-jars
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/utils/FileUtils.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: enhancement, infra-stack

#1175 Auto restart stacks when they come down
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/DockerService.java
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/nginx.json
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: enhancement

#1235 Create top-level Stack Tools README.md
  Deploy/stacks/dynamic/README.md
Labels: documentation, infra-stack

#857 Added reference to the SQL post-upload query option.
  Deploy/stacks/dynamic/stack-core.code-workspace
  Deploy/stacks/dynamic/stack-data-uploader/README.md
Labels: documentation, infra-stack

#1242 Dev 1236 trig stack log4j error and Ontoisochrone.owl
  Agents/IsochroneAgent/docker-compose.yml
  Agents/IsochroneAgent/isochroneagent/pom.xml
  Agents/IsochroneAgent/stack-manager-config/inputs/config/services/isochroneagent-debug.json
  Agents/IsochroneAgent/stack-manager-config/inputs/config/services/isochroneagent.json
  Agents/NetworkAnalysisAgent/docker-compose.yml
  Agents/NetworkAnalysisAgent/networkanalysisagent/pom.xml
  Agents/NetworkAnalysisAgent/stack-manager-config/inputs/config/services/networkanalysisagent-debug.json
  Agents/NetworkAnalysisAgent/stack-manager-config/inputs/config/services/networkanalysisagent.json
  Agents/TravellingSalesmanAgent/docker-compose.yml
  Agents/TravellingSalesmanAgent/stack-manager-config/inputs/config/services/travellingsalesmanagent-debug.json
  Agents/TravellingSalesmanAgent/stack-manager-config/inputs/config/services/travellingsalesmanagent.json
  Agents/TravellingSalesmanAgent/travellingsalesmanagent/pom.xml
  JPS_Ontology/ontology/ontoisochrone/OntoIsochrone.csv
  JPS_Ontology/ontology/ontoisochrone/OntoIsochrone.owl
  web/kingslynn-flood-routing/stack-manager-inputs/config/services/isochroneagent.json
  web/kingslynn-flood-routing/stack-manager-inputs/config/services/networkanalysisagent.json
  web/kingslynn-flood-routing/stack-manager-inputs/config/services/travellingsalesmanagent.json
Labels: bug, enhancement

#1075 Dev podman improvements
  Deploy/stacks/dynamic/common-scripts/common_functions.sh
  Deploy/stacks/dynamic/common-scripts/podman/containers.conf
  Deploy/stacks/dynamic/common-scripts/podman/podman_compose_v1.0.3.patch
  Deploy/stacks/dynamic/common-scripts/remove.sh
  Deploy/stacks/dynamic/common-scripts/stop.sh
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/adminer.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/citydbimpexp.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/grafana.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/nginx.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/ontop.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/superset.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/volume-populator.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/services/defaults/postgis.json
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/README-podman.md
  Deploy/stacks/dynamic/stack-manager/README.md
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, documentation, enhancement, infra-stack

#1239 1230-py4jps-wrapper-allows-multiple-jvms-to-be-initialised
  JPS_BASE_LIB/python_wrapper/tests/test_wrapper.py
  JPS_BASE_LIB/python_wrapper/twa/JPSGateway.py
Labels: enhancement, python-wrapper, infra-base-lib

#1133 Dev pydantic rdflib
  JPS_BASE_LIB/python_wrapper/.gitignore
  JPS_BASE_LIB/python_wrapper/README.md
  JPS_BASE_LIB/python_wrapper/dev_requirements.txt
  JPS_BASE_LIB/python_wrapper/docs/api/base_ontology.md
  JPS_BASE_LIB/python_wrapper/docs/api/gateway.md
  JPS_BASE_LIB/python_wrapper/docs/api/jps_gateway.md
  JPS_BASE_LIB/python_wrapper/docs/api/logging.md
  JPS_BASE_LIB/python_wrapper/docs/api/res_manager.md
  JPS_BASE_LIB/python_wrapper/docs/api/res_registry.md
  JPS_BASE_LIB/python_wrapper/docs/api/sparql_client.md
  JPS_BASE_LIB/python_wrapper/docs/api/utilities.md
  JPS_BASE_LIB/python_wrapper/docs/contributing.md
  JPS_BASE_LIB/python_wrapper/docs/examples/additional_java_lib.md
  JPS_BASE_LIB/python_wrapper/docs/examples/logging.md
  JPS_BASE_LIB/python_wrapper/docs/examples/ogm.md
  JPS_BASE_LIB/python_wrapper/docs/examples/python_java.md
  JPS_BASE_LIB/python_wrapper/docs/examples/sparql.md
  JPS_BASE_LIB/python_wrapper/docs/index.md
  JPS_BASE_LIB/python_wrapper/docs/install.md
  JPS_BASE_LIB/python_wrapper/docs/media/twa-logo-blue.svg
  JPS_BASE_LIB/python_wrapper/docs/media/twa-logo-white.svg
  JPS_BASE_LIB/python_wrapper/docs/tutorial/twa_tutorial.ipynb
  JPS_BASE_LIB/python_wrapper/docs/wishlist.md
  JPS_BASE_LIB/python_wrapper/mkdocs.yml
  JPS_BASE_LIB/python_wrapper/setup.py
  JPS_BASE_LIB/python_wrapper/tests/conftest.py
  JPS_BASE_LIB/python_wrapper/tests/test_base_ontology.py
  JPS_BASE_LIB/python_wrapper/twa/JPSGateway.py
  JPS_BASE_LIB/python_wrapper/twa/__init__.py
  JPS_BASE_LIB/python_wrapper/twa/agentlogging/logging.py
  JPS_BASE_LIB/python_wrapper/twa/data_model/__init__.py
  JPS_BASE_LIB/python_wrapper/twa/data_model/base_ontology.py
  JPS_BASE_LIB/python_wrapper/twa/data_model/iris.py
  JPS_BASE_LIB/python_wrapper/twa/data_model/utils.py
  JPS_BASE_LIB/python_wrapper/twa/kg_operations/__init__.py
  JPS_BASE_LIB/python_wrapper/twa/kg_operations/gateway.py
  JPS_BASE_LIB/python_wrapper/twa/kg_operations/sparql_client.py
  JPS_BASE_LIB/python_wrapper/twa/resRegistry/resManager.py
  JPS_BASE_LIB/python_wrapper/twa/resRegistry/resRegistry.py
Labels: enhancement, python-wrapper, infra-base-lib

#1245 twa docs deploy workflow
  .github/workflows/twa-docs-deploy.yml
Labels: documentation, python-wrapper

#1248 dev-extend-fileserver-documentation: Add subchapter "intgration with …
  Deploy/stacks/db/fileserver/README.md
Labels: documentation

#1234 1808 dev sealevelimpactagent
  Agents/SeaLevelImpactAgent/.dockerignore
  Agents/SeaLevelImpactAgent/.gitignore
  Agents/SeaLevelImpactAgent/.m2/settings-security.xml
  Agents/SeaLevelImpactAgent/.m2/settings.xml
  Agents/SeaLevelImpactAgent/Dockerfile
  Agents/SeaLevelImpactAgent/README.md
  Agents/SeaLevelImpactAgent/bulkstart.sh
  Agents/SeaLevelImpactAgent/credentials/.gitignore
  Agents/SeaLevelImpactAgent/docker-compose-build.yml
  Agents/SeaLevelImpactAgent/docker-compose-stack.yml
  Agents/SeaLevelImpactAgent/docker-compose.yml
  Agents/SeaLevelImpactAgent/docker/entrypoint.sh
  Agents/SeaLevelImpactAgent/inputs/config.properties
  Agents/SeaLevelImpactAgent/inputs/input_request.csv
  Agents/SeaLevelImpactAgent/inputs/slr.obda
  Agents/SeaLevelImpactAgent/sealevelimpactagent/WEB-INF/.gitignore
  Agents/SeaLevelImpactAgent/sealevelimpactagent/pom.xml
  Agents/SeaLevelImpactAgent/sealevelimpactagent/src/main/java/uk/ac/cam/cares/jps/agent/sealevelimpactagent/EndpointConfig.java
  Agents/SeaLevelImpactAgent/sealevelimpactagent/src/main/java/uk/ac/cam/cares/jps/agent/sealevelimpactagent/FileReader.java
  Agents/SeaLevelImpactAgent/sealevelimpactagent/src/main/java/uk/ac/cam/cares/jps/agent/sealevelimpactagent/ImpactAssessor.java
  Agents/SeaLevelImpactAgent/sealevelimpactagent/src/main/java/uk/ac/cam/cares/jps/agent/sealevelimpactagent/SLRGeoserver.java
  Agents/SeaLevelImpactAgent/sealevelimpactagent/src/main/java/uk/ac/cam/cares/jps/agent/sealevelimpactagent/SeaLevelImpactAgent.java
  Agents/SeaLevelImpactAgent/stack-manager-config/inputs/config/services/sealevelimpactagent-debug.json
  Agents/SeaLevelImpactAgent/stack-manager-config/inputs/config/services/sealevelimpactagent.json
  Agents/SeaLevelImpactAgent/stack.sh
Labels: enhancement
