Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2024-08, with the labels that each got.

#1233 Fix issue with inserting JSON-LD into Blazegraph
  Deploy/stacks/db/blazegraph/Dockerfile
  Deploy/stacks/db/docker-compose.github.yml
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/blazegraph.json
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/utils/BlazegraphContainer.java
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/services/defaults/blazegraph.json
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
  JPS_BASE_LIB/python_derivation_agent/README.md
  JPS_BASE_LIB/python_derivation_agent/docker-compose.test.yml
  JPS_BASE_LIB/python_derivation_agent/tests/conftest.py
  JPS_BASE_LIB/python_wrapper/tests/conftest.py
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/BlazegraphContainer.java
  JPS_BASE_LIB/src/test/java/uk/ac/cam/cares/jps/base/query/fed/TripleStoreProvider.java
Labels: bug, infra-stack

#1305 1824 dev ontobatchexperiment
  JPS_Ontology/ontology/ontobatchexperiment/OntoBatchExperiment.csv
  JPS_Ontology/ontology/ontobatchexperiment/OntoBatchExperiment.owl
Labels: ontology

#1319 Add GeoServerClient tests
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/blazegraph/BlazegraphClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/ClientWithEndpoint.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/StackClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/DCATUpdateQuery.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/TBoxCSV.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/docker/BaseClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/docker/DockerClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/docker/DockerConfigHandler.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/GDALClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/geoserver/GeoServerClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/geoserver/GeoServerStyle.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/geoserver/GeoserverOtherStaticFile.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/postgis/PGRoutingClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/postgis/PostGISClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/superset/SupersetClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/utils/FileUtils.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/ContainerService.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/blazegraph/BlazegraphClientTest.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/core/datasets/DCATUpdateQueryTest.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/geoserver/GeoServerClientTest.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/geoserver/GeoserverOtherStaticFileTest.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/mocks/MockGeoServer.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/mocks/MockHTTPService.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/mocks/MockPostGIS.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/mocks/MockServiceWithFileSystem.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/utils/BlazegraphContainer.java
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/datasets/testAddOntop()1.ttl
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/datasets/testAddOntop()2.ttl
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/datasets/testAddOntop()3.ttl
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/badmappings.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/badpartialmappings.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/geoServerVectorSettings/cropmap.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/geoServerVectorSettings/cropmap_cl.xml
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/geoServerVectorSettings/cropmap_ft.xml
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/geoServerVectorSettings/forestry.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/geoServerVectorSettings/forestry_cl.xml
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/geoServerVectorSettings/forestry_ft.xml
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/geoServerVectorSettings/nationalGrid.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/geoServerVectorSettings/nationalGrid_cl.xml
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/geoServerVectorSettings/nationalGrid_ft.xml
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/geoServerVectorSettings/pylons.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/geoServerVectorSettings/pylons_cl.xml
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/geoServerVectorSettings/pylons_ft.xml
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/geoServerVectorSettings/trivial.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/geoServerVectorSettings/trivial_cl.xml
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/geoServerVectorSettings/trivial_ft.xml
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/icons/icon1.gif
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/otherFiles.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/otherFiles/a1.txt
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/otherFiles/b1.txt
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/otherFiles/d1/c1.txt
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/otherFiles/d1/d1.txt
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/point_simplepoint.sld
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/geoserver/styles.xml
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: enhancement, infra-stack

#1300 1130 nested folders for accessing the data in static geoserver data
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/docker/DockerClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/geoserver/GeoServerClient.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/geoserver/GeoServerClientTest.java
  Deploy/stacks/dynamic/stack-data-uploader/README.md
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, infra-stack

#1115 Allow datasets to specify a schema.
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/TempTestCalls.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/CityDB.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/DatasetLoader.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/OSMRouting.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Raster.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Tabular.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Vector.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/XtoCityDB.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/GDALClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/Ogr2OgrOptions.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/geoserver/GeoServerClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/postgis/PostGISClient.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/geoserver/GeoServerClientTest.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/StackConfig.java
Labels: enhancement, infra-stack

#735 Fix pulling images when starting up the stack
  Deploy/stacks/dynamic/common-scripts/start.sh
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/App.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/DockerService.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: enhancement, infra-stack
