Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2024-11, with the labels that each got.

#1381 Hotfix podman
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/docker/DockerClient.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, infra-stack

#1367 Visualisation Platform Map Feature Search
  web/twa-vis-platform/code/src/app/map/page.tsx
  web/twa-vis-platform/code/src/authorisation/keycloak-session.tsx
  web/twa-vis-platform/code/src/io/config/routes.ts
  web/twa-vis-platform/code/src/map/map-container.tsx
  web/twa-vis-platform/code/src/state/map-feature-slice.ts
  web/twa-vis-platform/code/src/types/address.ts
  web/twa-vis-platform/code/src/types/form.ts
  web/twa-vis-platform/code/src/ui/interaction/form/field/form-date-time-picker.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/field/form-field.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/field/form-input.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/field/input/form-min-max-input.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/field/input/form-selector.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/form-utils.ts
  web/twa-vis-platform/code/src/ui/interaction/form/form.module.css
  web/twa-vis-platform/code/src/ui/interaction/form/form.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/section/dependent-form-section.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/section/form-geocoder.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/section/form-search-period.tsx
  web/twa-vis-platform/code/src/ui/interaction/modal/search/search-modal.tsx
  web/twa-vis-platform/code/src/ui/interaction/modal/search/search.modal.module.css
  web/twa-vis-platform/code/src/ui/interaction/ribbon/ribbon.tsx
  web/twa-vis-platform/code/src/ui/interaction/tree/layer/layer-tree-content.tsx
  web/twa-vis-platform/code/src/ui/map/geocode/geocode-map-container.module.css
  web/twa-vis-platform/code/src/ui/map/geocode/geocode-map-container.tsx
  web/twa-vis-platform/code/src/ui/map/map-container.module.css
  web/twa-vis-platform/code/src/ui/map/map-container.tsx
  web/twa-vis-platform/code/src/ui/map/map-event-manager.ts
  web/twa-vis-platform/code/src/ui/map/map-helper.ts
  web/twa-vis-platform/code/src/ui/map/mapbox/mapbox-container.tsx
  web/twa-vis-platform/code/src/ui/map/mapbox/mapbox-icon-loader.ts
  web/twa-vis-platform/code/src/ui/map/mapbox/mapbox-layer-utils.ts
  web/twa-vis-platform/code/src/ui/map/mapbox/mapbox-source-utils.ts
  web/twa-vis-platform/code/src/ui/map/mapbox/mapbox.css
  web/twa-vis-platform/code/src/ui/text/error/error.tsx
  web/twa-vis-platform/code/src/ui/text/response/response.tsx
  web/twa-vis-platform/code/src/utils/client-utils.ts
  web/twa-vis-platform/code/src/utils/server-actions.ts
  web/twa-vis-platform/doc/config.md
  web/twa-vis-platform/doc/form.md
  web/twa-vis-platform/resources/CHANGELOG.md
  web/twa-vis-platform/resources/VERSION
Labels: infra-vis

#1407 Generic rules
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/blazegraph/BlazegraphClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Dataset.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/DatasetLoader.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/OntopSettings.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/ontop/OntopClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/ontop/SparqlRulesFile.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/utils/SparqlRulesFile.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/core/datasets/DatasetBuilder.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/core/datasets/OntopSettingsTest.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/utils/SparqlRulesFileTest.java
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/utils/rules.toml
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/utils/rules2.toml
  Deploy/stacks/dynamic/stack-data-uploader/README.md
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: enhancement, infra-stack

#1408 Dev twa ogm improve
  JPS_BASE_LIB/python_wrapper/docs/examples/ogm.md
  JPS_BASE_LIB/python_wrapper/setup.py
  JPS_BASE_LIB/python_wrapper/tests/test_base_ontology.py
  JPS_BASE_LIB/python_wrapper/twa/__init__.py
  JPS_BASE_LIB/python_wrapper/twa/data_model/base_ontology.py
Labels: python-wrapper
