Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2024-09, with the labels that each got.

#1316 Ontomops tbox
  JPS_Ontology/KBTemplates/TBox/ontomops.csv
  JPS_Ontology/ontology/ontomops/OntoMOPs.owl
  JPS_Ontology/ontology/ontomops/OntoMOPsABox.csv
  JPS_Ontology/ontology/ontomops/OntoMOPsABox.owl
  JPS_Ontology/ontology/ontomops/ontomops.csv
  JPS_Ontology/ontology/ontospecies/OntoSpecies_v2.owl
  JPS_Ontology/ontology/ontospecies/ontospecies_v2.csv
Labels: ontology

#1317 OntoProfile
  JPS_Ontology/ontology/ontoprofile/OntoProfile.csv
  JPS_Ontology/ontology/ontoprofile/OntoProfile.owl
  JPS_Ontology/ontology/ontoprofile/OntoProfile_abox.ttl
  JPS_Ontology/ontology/ontoprofile/README.MD
Labels: ontology

#1342 Visualisation Platform - Dynamic controls
  web/twa-vis-platform/code/src/io/config/assets.ts
  web/twa-vis-platform/code/src/io/config/routes.ts
  web/twa-vis-platform/code/src/io/data/data-group.ts
  web/twa-vis-platform/code/src/io/data/data-parser.ts
  web/twa-vis-platform/code/src/map/map-container.tsx
  web/twa-vis-platform/code/src/state/map-feature-slice.ts
  web/twa-vis-platform/code/src/types/form.ts
  web/twa-vis-platform/code/src/types/map-layer.ts
  web/twa-vis-platform/code/src/ui/graphic/image/background.tsx
  web/twa-vis-platform/code/src/ui/graphic/loader/loader.tsx
  web/twa-vis-platform/code/src/ui/graphic/table/registry/registry-table-component.tsx
  web/twa-vis-platform/code/src/ui/graphic/table/registry/registry-table.tsx
  web/twa-vis-platform/code/src/ui/graphic/table/registry/table-ribbon.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/field/dependent-form-selector.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/field/form-date-time-picker.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/field/form-field.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/field/form-input-container.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/field/form-input.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/field/form-selector.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/field/input/form-min-max-input.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/field/input/input.module.css
  web/twa-vis-platform/code/src/ui/interaction/form/form-container.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/form-utils.ts
  web/twa-vis-platform/code/src/ui/interaction/form/form.module.css
  web/twa-vis-platform/code/src/ui/interaction/form/form.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/section/dependent-form-section.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/section/form-schedule.tsx
  web/twa-vis-platform/code/src/ui/interaction/modal/search/search-modal.tsx
  web/twa-vis-platform/code/src/ui/interaction/modal/search/search.modal.module.css
  web/twa-vis-platform/code/src/ui/interaction/tree/info/attribute-root.tsx
  web/twa-vis-platform/code/src/ui/interaction/tree/layer/layer-tree-content.tsx
  web/twa-vis-platform/code/src/ui/interaction/tree/layer/layer-tree.tsx
  web/twa-vis-platform/code/src/ui/pages/landing.tsx
  web/twa-vis-platform/code/src/ui/pages/page-thumbnail.tsx
  web/twa-vis-platform/code/src/ui/text/footer.tsx
  web/twa-vis-platform/code/src/ui/text/response/response.tsx
  web/twa-vis-platform/code/src/utils/client-utils.ts
  web/twa-vis-platform/code/src/utils/server-actions.ts
  web/twa-vis-platform/code/src/utils/trex.tsx
  web/twa-vis-platform/doc/config.md
  web/twa-vis-platform/docker-compose.dev.yml
  web/twa-vis-platform/resources/CHANGELOG.md
Labels: enhancement, infra-vis

#1349 Add a host path variable to the stack config file
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/StackClient.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/App.java
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/Stack.java
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/StackConfig.java
Labels: enhancement, infra-stack

#1352 Stack build improvements
  Deploy/stacks/dynamic/stack-clients/.vscode/tasks.json
  Deploy/stacks/dynamic/stack-core.code-workspace
Labels: enhancement, infra-stack

#1354 Fix stacks not starting without a stack config file.
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
  Deploy/stacks/dynamic/stack-manager/src/main/java/com/cmclinnovations/stack/Stack.java
Labels: bug, infra-stack
