Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2024-01, with the labels that each got.

#1058 README for OntoBIM
  JPS_Ontology/ontology/ontobim/README.md
Labels: documentation

#1060 README for OntoBuildingStructure
  JPS_Ontology/ontology/ontobuildingstructure/OntoBuildingStructure.csv
  JPS_Ontology/ontology/ontobuildingstructure/OntoBuildingStructure.owl
  JPS_Ontology/ontology/ontobuildingstructure/README.MD
Labels: documentation

#1053 dev-credo-merge
  web/twa-vis-framework/docs/credo.md
  web/twa-vis-framework/example/inputs/volumes/cesium-vis-files/index.html
  web/twa-vis-framework/example/inputs/volumes/cesium-vis-files/loading.gif
  web/twa-vis-framework/example/inputs/volumes/mapbox-vis-files/index.html
  web/twa-vis-framework/example/inputs/volumes/mapbox-vis-files/loading.gif
  web/twa-vis-framework/library/CHANGELOG.md
  web/twa-vis-framework/library/VERSION
  web/twa-vis-framework/library/src/css/twa-vf.css
  web/twa-vis-framework/library/src/html/help/index.html
  web/twa-vis-framework/library/src/html/help/scenarios.png
  web/twa-vis-framework/library/src/ts/io/data_layer.ts
  web/twa-vis-framework/library/src/ts/io/data_source.ts
  web/twa-vis-framework/library/src/ts/manager.ts
  web/twa-vis-framework/library/src/ts/mapbox/mapbox_handler.ts
  web/twa-vis-framework/library/src/ts/mapbox/mapbox_utils.ts
  web/twa-vis-framework/library/src/ts/ui/panel_handler.ts
  web/twa-vis-framework/library/src/ts/ui/scenario_handler.ts
  web/twa-vis-framework/library/src/ts/ui/search_handler.ts
  web/twa-vis-framework/library/src/ts/utils.ts
Labels: bug, documentation, enhancement, infra-vis, infra

#846 Spin up a separate Ontop container for each Postgresql database
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/PasswordEndpointConfig.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Dataset.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/DatasetLoader.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/ontop/OntopClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/postgis/PostGISClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/BasicAgentService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/BlazegraphService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/CityDBImpExpService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/ContainerService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/DockerService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/GeoServerService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/GrafanaService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/OntopService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/PostGISService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/ServiceManager.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/SupersetService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/VisualisationService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/config/ServiceConfig.java
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/ontop.json
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/core/PasswordEndpointConfigTest.java
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/empty-file
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/password
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose-stack.yml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: enhancement, infra-stack

#1047 Dev hotfix dashboard agent
  Agents/DashboardAgent/Dockerfile
  Agents/DashboardAgent/agent/pom.xml
  Agents/DashboardAgent/agent/src/main/java/uk/ac/cam/cares/jps/agent/dashboard/stack/PostGisClient.java
  Agents/DashboardAgent/docker-compose.yml
  Agents/DashboardAgent/stack-manager-input-config/dashboard-agent.json
Labels: bug

#1079 JPS Agents Hotfix
  JPS_BASE_LIB/pom.xml
  JPS_BASE_LIB/src/main/java/uk/ac/cam/cares/jps/base/listener/BaseBatteryOntologyModelManager.java
Labels: bug, infra-base-lib
