Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2024-07, with the labels that each got.

#1244 Dev allow alternative tools when uploading raster data
  Deploy/stacks/dynamic/examples/datasets/inputs/config/elevation.json
  Deploy/stacks/dynamic/examples/datasets/inputs/data/elevation/elevation/README.md
  Deploy/stacks/dynamic/examples/datasets/inputs/data/roads/routing/README.md
  Deploy/stacks/dynamic/examples/datasets/inputs/data/tboxcsv/README.md
  Deploy/stacks/dynamic/examples/datasets/inputs/data/tboxcsv/tboxcsv/README.md
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/Option.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/StackClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Raster.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/CommonOptions.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/GDALClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/GDALOptions.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/GDALTranslateOptions.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/GDALWarpOptions.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/Ogr2OgrOptions.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/utils/LocalTempDir.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/DockerService.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/core/OptionTest.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/core/datasets/DataSubsetTest.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/gdal/ArgsEnum.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/gdal/BaseOptionsTestHelper.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/gdal/CommonOptionsTest.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/gdal/CommonOptionsTestHelper.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/gdal/GDALOptionsTest.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/gdal/GDALOptionsTestHelper.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/gdal/GDALTranslateOptionsTest.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/gdal/GDALTranslateOptionsTestHelper.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/gdal/GDALWarpOptionsTest.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/gdal/GDALWarpOptionsTestHelper.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/gdal/MockCommonOptions.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/gdal/MockGDALOptions.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/gdal/Ogr2OgrOptionsTest.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/gdal/Ogr2OgrOptionsTestHelper.java
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/OptionTest/array.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/OptionTest/arrayOfOptions.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/OptionTest/arrayScalar.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/OptionTest/empty.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/OptionTest/emptyArray.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/OptionTest/emptyObject.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/OptionTest/scalar.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/gdal/creationOptions.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/gdal/datasetCreationOptions.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/gdal/inputDatasetOpenOptions.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/gdal/layerCreationOptions.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/gdal/otherOptions.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/gdal/otherOptionsArray.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/gdal/outputDatasetOpenOptions.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/gdal/sridBoth.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/gdal/sridIn.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/gdal/sridOut.json
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/gdal/testHandleFileArg.txt
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/gdal/trivial.json
  Deploy/stacks/dynamic/stack-data-uploader/README.md
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: enhancement, infra-stack

#1269 1818 dev sealevelimpactagent fix
  Agents/SeaLevelImpactAgent/README.md
  Agents/SeaLevelImpactAgent/docker-compose.yml
  Agents/SeaLevelImpactAgent/inputs/config.properties
  Agents/SeaLevelImpactAgent/inputs/slr.obda
  Agents/SeaLevelImpactAgent/sealevelimpactagent/src/main/java/uk/ac/cam/cares/jps/agent/sealevelimpactagent/ImpactAssessor.java
  Agents/SeaLevelImpactAgent/sealevelimpactagent/src/main/java/uk/ac/cam/cares/jps/agent/sealevelimpactagent/SeaLevelImpactAgent.java
  Agents/SeaLevelImpactAgent/stack-manager-config/inputs/config/services/sealevelimpactagent-debug.json
  Agents/SeaLevelImpactAgent/stack-manager-config/inputs/config/services/sealevelimpactagent.json
  Deploy/stacks/Singapore-sea-level-rise/colorbar_generator/README.md
  Deploy/stacks/Singapore-sea-level-rise/colorbar_generator/colourbar.py
  Deploy/stacks/Singapore-sea-level-rise/colorbar_generator/population.py
  Deploy/stacks/Singapore-sea-level-rise/colorbar_generator/requirements.txt
  Deploy/stacks/Singapore-sea-level-rise/geoserver_styles/flood.sld
  Deploy/stacks/Singapore-sea-level-rise/sealevelinputs/config.properties
  Deploy/stacks/Singapore-sea-level-rise/sealevelinputs/slr.obda
  Deploy/stacks/Singapore-sea-level-rise/stack-data-uploader/inputs/config/population.json
  Deploy/stacks/Singapore-sea-level-rise/stack-data-uploader/inputs/config/population_children_youth_elderly.sld
  Deploy/stacks/Singapore-sea-level-rise/stack-data-uploader/inputs/config/population_general.sld
  Deploy/stacks/Singapore-sea-level-rise/stack-data-uploader/inputs/config/population_men_women.sld
  Deploy/stacks/Singapore-sea-level-rise/stack-data-uploader/inputs/config/sea-level.json
  Deploy/stacks/Singapore-sea-level-rise/stack-data-uploader/inputs/config/sealevelprojections-ccrs-dem.json
  Deploy/stacks/Singapore-sea-level-rise/stack-data-uploader/inputs/config/sealevelprojections-nasa-dem.json
  Deploy/stacks/Singapore-sea-level-rise/stack-data-uploader/inputs/data/population/general/.gitignore
  Deploy/stacks/Singapore-sea-level-rise/stack-data-uploader/inputs/data/population/population_childrenU5/.gitignore
  Deploy/stacks/Singapore-sea-level-rise/stack-data-uploader/inputs/data/population/population_elderly/.gitignore
  Deploy/stacks/Singapore-sea-level-rise/stack-data-uploader/inputs/data/population/population_men/.gitignore
  Deploy/stacks/Singapore-sea-level-rise/stack-data-uploader/inputs/data/population/population_women/.gitignore
  Deploy/stacks/Singapore-sea-level-rise/stack-data-uploader/inputs/data/population/population_women_reproductive/.gitignore
  Deploy/stacks/Singapore-sea-level-rise/stack-data-uploader/inputs/data/population/population_youth/.gitignore
  Deploy/stacks/Singapore-sea-level-rise/stack-data-uploader/inputs/data/sealevelprojections/sealevelshape/slrprojections.sql
  Deploy/stacks/Singapore-sea-level-rise/stack-manager/inputs/config/services/sealevelimpactagent.json
  Deploy/stacks/Singapore-sea-level-rise/stack-manager/inputs/data/webspace/data.json
  Deploy/stacks/Singapore-sea-level-rise/stack-manager/inputs/data/webspace/img/cost.png
  Deploy/stacks/Singapore-sea-level-rise/stack-manager/inputs/data/webspace/img/population_children_youth_elderly.png
  Deploy/stacks/Singapore-sea-level-rise/stack-manager/inputs/data/webspace/img/population_density.png
  Deploy/stacks/Singapore-sea-level-rise/stack-manager/inputs/data/webspace/img/population_general.png
  Deploy/stacks/Singapore-sea-level-rise/stack-manager/inputs/data/webspace/img/population_men_women.png
  Deploy/stacks/Singapore-sea-level-rise/stack-manager/inputs/data/webspace/index.html
Labels: enhancement

#1274 Dev derivation ogm
  JPS_BASE_LIB/python_wrapper/.gitignore
  JPS_BASE_LIB/python_wrapper/Dockerfile.test
  JPS_BASE_LIB/python_wrapper/README.md
  JPS_BASE_LIB/python_wrapper/dev_requirements.txt
  JPS_BASE_LIB/python_wrapper/docker-compose.test.yml
  JPS_BASE_LIB/python_wrapper/docker_test_requirements.txt
  JPS_BASE_LIB/python_wrapper/docs/api/conf.md
  JPS_BASE_LIB/python_wrapper/docs/api/derivation.md
  JPS_BASE_LIB/python_wrapper/docs/api/derivation_agent.md
  JPS_BASE_LIB/python_wrapper/docs/api/derivation_client.md
  JPS_BASE_LIB/python_wrapper/docs/examples/dif.md
  JPS_BASE_LIB/python_wrapper/docs/examples/ogm.md
  JPS_BASE_LIB/python_wrapper/docs/index.md
  JPS_BASE_LIB/python_wrapper/docs/tutorial/twa_tutorial.ipynb
  JPS_BASE_LIB/python_wrapper/install_script_pip.sh
  JPS_BASE_LIB/python_wrapper/mkdocs.yml
  JPS_BASE_LIB/python_wrapper/setup.py
  JPS_BASE_LIB/python_wrapper/tests/__init__.py
  JPS_BASE_LIB/python_wrapper/tests/agents/__init__.py
  JPS_BASE_LIB/python_wrapper/tests/agents/agents_for_test.py
  JPS_BASE_LIB/python_wrapper/tests/agents/data_model_for_test.py
  JPS_BASE_LIB/python_wrapper/tests/agents/sparql_client_for_test.py
  JPS_BASE_LIB/python_wrapper/tests/conftest.py
  JPS_BASE_LIB/python_wrapper/tests/docker_entry_point.py
  JPS_BASE_LIB/python_wrapper/tests/dummy_services_secrets/blazegraph_passwd.txt
  JPS_BASE_LIB/python_wrapper/tests/dummy_services_secrets/blazegraph_user.txt
  JPS_BASE_LIB/python_wrapper/tests/env_files/agent.diff.env.test
  JPS_BASE_LIB/python_wrapper/tests/env_files/agent.diff.reverse.env.test
  JPS_BASE_LIB/python_wrapper/tests/env_files/agent.exception.throw.env.test
  JPS_BASE_LIB/python_wrapper/tests/env_files/agent.max.env.test
  JPS_BASE_LIB/python_wrapper/tests/env_files/agent.min.env.test
  JPS_BASE_LIB/python_wrapper/tests/env_files/agent.rng.env.test
  JPS_BASE_LIB/python_wrapper/tests/env_files/endpoint.update.env.test
  JPS_BASE_LIB/python_wrapper/tests/pytest.ini
  JPS_BASE_LIB/python_wrapper/tests/resources/dummy_abox.ttl
  JPS_BASE_LIB/python_wrapper/tests/resources/dummy_tbox.ttl
  JPS_BASE_LIB/python_wrapper/tests/test_base_ontology.py
  JPS_BASE_LIB/python_wrapper/tests/test_conf.py
  JPS_BASE_LIB/python_wrapper/tests/test_data_model.py
  JPS_BASE_LIB/python_wrapper/tests/test_derivation_agent.py
  JPS_BASE_LIB/python_wrapper/tests/test_derivation_client.py
  JPS_BASE_LIB/python_wrapper/tests/test_derivation_exception.py
  JPS_BASE_LIB/python_wrapper/tests/test_docker_integration.py
  JPS_BASE_LIB/python_wrapper/tests/test_sparql_client.py
  JPS_BASE_LIB/python_wrapper/tests/test_wrapper.py
  JPS_BASE_LIB/python_wrapper/tests/utils.py
  JPS_BASE_LIB/python_wrapper/twa/__init__.py
  JPS_BASE_LIB/python_wrapper/twa/agent/__init__.py
  JPS_BASE_LIB/python_wrapper/twa/agent/derivation_agent.py
  JPS_BASE_LIB/python_wrapper/twa/agentlogging/__init__.py
  JPS_BASE_LIB/python_wrapper/twa/conf/.env.example
  JPS_BASE_LIB/python_wrapper/twa/conf/__init__.py
  JPS_BASE_LIB/python_wrapper/twa/conf/agent_conf.py
  JPS_BASE_LIB/python_wrapper/twa/data_model/base_ontology.py
  JPS_BASE_LIB/python_wrapper/twa/data_model/derivation.py
  JPS_BASE_LIB/python_wrapper/twa/data_model/iris.py
  JPS_BASE_LIB/python_wrapper/twa/data_model/utils.py
  JPS_BASE_LIB/python_wrapper/twa/exception/__init__.py
  JPS_BASE_LIB/python_wrapper/twa/exception/exception.py
  JPS_BASE_LIB/python_wrapper/twa/kg_operations/derivation_client.py
Labels: python-wrapper

#1267 Allow user-specified dataset metadata
  Deploy/stacks/dynamic/.gitattributes
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/AbstractDataObject.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/DCATUpdateQuery.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Dataset.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/Metadata.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/PostgresDataSubset.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/core/datasets/DCATUpdateQueryTest.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/core/datasets/DatasetBuilder.java
  Deploy/stacks/dynamic/stack-clients/src/test/java/com/cmclinnovations/stack/clients/core/datasets/MetadataTest.java
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/datasets/datasetMetadata.ttl
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/datasets/metadataFile.ttl
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/datasets/testAddMetadataFromFile()1.ttl
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/datasets/testAddMetadataOverrideBuiltinPrefixes()1.ttl
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/datasets/testAddMetadataPrefix()1.ttl
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/datasets/testAddMetadataPrefixOnly()1.ttl
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/datasets/testAddMetadataSimple()1.ttl
  Deploy/stacks/dynamic/stack-clients/src/test/resources/com/cmclinnovations/stack/clients/core/datasets/testAddMetadataUseBuiltinPrefix()1.ttl
  Deploy/stacks/dynamic/stack-clients/stack.sh
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-data-uploader/stack.sh
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
  Deploy/stacks/dynamic/stack-manager/stack.sh
Labels: enhancement, infra-stack

#1278 Add modular UI components to TWA-VF
  web/twa-vis-framework/custom-ui/README.md
  web/twa-vis-framework/custom-ui/application/README.md
  web/twa-vis-framework/custom-ui/application/asset_display/index.html
  web/twa-vis-framework/custom-ui/application/search_entity/index.html
  web/twa-vis-framework/custom-ui/component/.gitignore
  web/twa-vis-framework/custom-ui/component/Dockerfile
  web/twa-vis-framework/custom-ui/component/GruntFile.js
  web/twa-vis-framework/custom-ui/component/README.md
  web/twa-vis-framework/custom-ui/component/docker-compose.yml
  web/twa-vis-framework/custom-ui/component/package.json
  web/twa-vis-framework/custom-ui/component/src/css/component.css
  web/twa-vis-framework/custom-ui/component/src/ts/datasheet/asset_display_component.ts
  web/twa-vis-framework/custom-ui/component/src/ts/dynamic_component.ts
  web/twa-vis-framework/custom-ui/component/src/ts/search/search_entity_component.ts
  web/twa-vis-framework/custom-ui/component/src/ts/search/search_text_input_component.ts
  web/twa-vis-framework/custom-ui/component/src/ts/search/select_dropdown_component.ts
  web/twa-vis-framework/custom-ui/component/src/ts/shared/loader.ts
  web/twa-vis-framework/custom-ui/component/src/ts/shared/overlay.ts
  web/twa-vis-framework/custom-ui/component/src/ts/utils.ts
  web/twa-vis-framework/custom-ui/component/tsconfig.json
Labels: enhancement

#1050 twa-web-docs
  web/docs/README.md
  web/docs/url-testing/README.md
Labels: documentation, enhancement

#1285 Dev twa improvement
  JPS_BASE_LIB/python_wrapper/README.md
  JPS_BASE_LIB/python_wrapper/docs/examples/dif.md
  JPS_BASE_LIB/python_wrapper/docs/examples/ogm.md
  JPS_BASE_LIB/python_wrapper/docs/tutorial/twa_tutorial.ipynb
  JPS_BASE_LIB/python_wrapper/setup.py
  JPS_BASE_LIB/python_wrapper/tests/agents/agents_for_test.py
  JPS_BASE_LIB/python_wrapper/tests/agents/data_model_for_test.py
  JPS_BASE_LIB/python_wrapper/tests/agents/sparql_client_for_test.py
  JPS_BASE_LIB/python_wrapper/tests/test_base_ontology.py
  JPS_BASE_LIB/python_wrapper/tests/test_derivation_agent.py
  JPS_BASE_LIB/python_wrapper/twa/__init__.py
  JPS_BASE_LIB/python_wrapper/twa/agent/derivation_agent.py
  JPS_BASE_LIB/python_wrapper/twa/data_model/base_ontology.py
  JPS_BASE_LIB/python_wrapper/twa/data_model/derivation.py
Labels: enhancement, python-wrapper
