Repository cambridge-cares/TheWorldAvatar, pull requests merged in 2024-10, with the labels that each got.

#1358 Hotfix GeoServer layer names for buildings and routes
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/CityDB.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/datasets/OSMRouting.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, infra-stack

#1341 VisBackend Agent
  Agents/VisBackendAgent/.gitignore
  Agents/VisBackendAgent/.m2/settings-security.xml
  Agents/VisBackendAgent/.m2/settings.xml
  Agents/VisBackendAgent/.mvn/wrapper/maven-wrapper.properties
  Agents/VisBackendAgent/.vscode/launch.json
  Agents/VisBackendAgent/Dockerfile
  Agents/VisBackendAgent/README.md
  Agents/VisBackendAgent/agent/parent.pom.xml
  Agents/VisBackendAgent/agent/pom.xml
  Agents/VisBackendAgent/agent/src/main/java/com/cmclinnovations/agent/AgentApplication.java
  Agents/VisBackendAgent/agent/src/main/java/com/cmclinnovations/agent/ServletInitializer.java
  Agents/VisBackendAgent/agent/src/main/java/com/cmclinnovations/agent/VisBackendAgent.java
  Agents/VisBackendAgent/agent/src/main/java/com/cmclinnovations/agent/exception/AgentExceptionHandler.java
  Agents/VisBackendAgent/agent/src/main/java/com/cmclinnovations/agent/model/SparqlBinding.java
  Agents/VisBackendAgent/agent/src/main/java/com/cmclinnovations/agent/model/SparqlQueryLine.java
  Agents/VisBackendAgent/agent/src/main/java/com/cmclinnovations/agent/model/SparqlResponseField.java
  Agents/VisBackendAgent/agent/src/main/java/com/cmclinnovations/agent/model/SparqlVariableOrder.java
  Agents/VisBackendAgent/agent/src/main/java/com/cmclinnovations/agent/service/AddService.java
  Agents/VisBackendAgent/agent/src/main/java/com/cmclinnovations/agent/service/DeleteService.java
  Agents/VisBackendAgent/agent/src/main/java/com/cmclinnovations/agent/service/FileService.java
  Agents/VisBackendAgent/agent/src/main/java/com/cmclinnovations/agent/service/GetService.java
  Agents/VisBackendAgent/agent/src/main/java/com/cmclinnovations/agent/service/KGService.java
  Agents/VisBackendAgent/agent/src/main/java/com/cmclinnovations/agent/template/FormTemplateFactory.java
  Agents/VisBackendAgent/agent/src/main/java/com/cmclinnovations/agent/template/QueryTemplateFactory.java
  Agents/VisBackendAgent/agent/src/main/java/com/cmclinnovations/agent/utils/ShaclResource.java
  Agents/VisBackendAgent/agent/src/main/java/com/cmclinnovations/agent/utils/StringResource.java
  Agents/VisBackendAgent/agent/src/main/resources/application.yml
  Agents/VisBackendAgent/agent/src/main/resources/query/construct/form.sparql
  Agents/VisBackendAgent/agent/src/main/resources/query/get/instance.sparql
  Agents/VisBackendAgent/agent/src/main/resources/query/get/property_path.sparql
  Agents/VisBackendAgent/agent/src/main/resources/query/get/property_path_label.sparql
  Agents/VisBackendAgent/agent/src/test/java/com/cmclinnovations/agent/AgentApplicationTests.java
  Agents/VisBackendAgent/agent/src/test/java/com/cmclinnovations/agent/TestUtils.java
  Agents/VisBackendAgent/agent/src/test/java/com/cmclinnovations/agent/model/SparqlBindingTest.java
  Agents/VisBackendAgent/agent/src/test/java/com/cmclinnovations/agent/service/FileServiceTest.java
  Agents/VisBackendAgent/agent/src/test/java/com/cmclinnovations/agent/template/FormTemplateFactoryTest.java
  Agents/VisBackendAgent/agent/src/test/java/com/cmclinnovations/agent/template/QueryTemplateFactoryTest.java
  Agents/VisBackendAgent/agent/src/test/java/com/cmclinnovations/agent/utils/StringResourceTest.java
  Agents/VisBackendAgent/credentials/.gitignore
  Agents/VisBackendAgent/docker/docker-compose.test.yml
  Agents/VisBackendAgent/docker/docker-compose.yml
  Agents/VisBackendAgent/docker/vis-backend-agent-debug.json
  Agents/VisBackendAgent/docker/vis-backend-agent.json
  Agents/VisBackendAgent/resources/application-form.json
  Agents/VisBackendAgent/resources/application-service.json
  Agents/VisBackendAgent/resources/jsonld/example.jsonld
Labels: enhancement, infra-vis

#1116 Replace Superset with Grafana for dashboards
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/core/EndpointNames.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/superset/SupersetClient.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/superset/SupersetEndpointConfig.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/GrafanaService.java
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/services/SupersetService.java
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/grafana.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/built-ins/superset.json
  Deploy/stacks/dynamic/stack-clients/src/main/resources/com/cmclinnovations/stack/services/superset/superset_config.py
  Deploy/stacks/dynamic/stack-clients/src/main/swagger/superset/openapi.yaml
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: enhancement, infra-stack

#1369 Fix logging in the network analysis agent
  Agents/NetworkAnalysisAgent/Dockerfile
  Agents/NetworkAnalysisAgent/docker-compose-build.yml
  Agents/NetworkAnalysisAgent/docker-compose-stack.yml
  Agents/NetworkAnalysisAgent/docker-compose.yml
  Agents/NetworkAnalysisAgent/networkanalysisagent/pom.xml
  Agents/NetworkAnalysisAgent/networkanalysisagent/src/main/java/uk/ac/cam/cares/jps/agent/networkanalysisagent/TripCentralityCalculator.java
  Agents/utils/parent-pom/pom.xml
  web/kingslynn-flood-routing/stack-manager-inputs/config/services/networkanalysisagent.json
Labels: bug

#1376 Fix shapefile feature duplication
  Deploy/stacks/dynamic/stack-clients/docker-compose.yml
  Deploy/stacks/dynamic/stack-clients/pom.xml
  Deploy/stacks/dynamic/stack-clients/src/main/java/com/cmclinnovations/stack/clients/gdal/GDALClient.java
  Deploy/stacks/dynamic/stack-data-uploader/docker-compose.yml
  Deploy/stacks/dynamic/stack-data-uploader/pom.xml
  Deploy/stacks/dynamic/stack-manager/docker-compose.yml
  Deploy/stacks/dynamic/stack-manager/pom.xml
Labels: bug, infra-stack

#1388 Vip Hotfix V5.8.0
  web/twa-vis-platform/code/.eslintrc.json
  web/twa-vis-platform/code/package.json
  web/twa-vis-platform/code/pnpm-lock.yaml
  web/twa-vis-platform/code/src/app/api/map/settings/route.ts
  web/twa-vis-platform/code/src/app/layout.tsx
  web/twa-vis-platform/code/src/app/page.tsx
  web/twa-vis-platform/code/src/io/config/settings.ts
  web/twa-vis-platform/code/src/map/map-container.tsx
  web/twa-vis-platform/code/src/map/map-event-manager.ts
  web/twa-vis-platform/code/src/ui/graphic/icon/icon-button.tsx
  web/twa-vis-platform/code/src/ui/graphic/table/registry/registry-table.tsx
  web/twa-vis-platform/code/src/ui/graphic/table/registry/ribbon/table-ribbon.tsx
  web/twa-vis-platform/code/src/ui/interaction/context-menu/context-item.tsx
  web/twa-vis-platform/code/src/ui/interaction/context-menu/context-menu.tsx
  web/twa-vis-platform/code/src/ui/interaction/dropdown/group-dropdown.tsx
  web/twa-vis-platform/code/src/ui/interaction/dropdown/simple-dropdown.tsx
  web/twa-vis-platform/code/src/ui/interaction/form/form.tsx
  web/twa-vis-platform/code/src/ui/interaction/ribbon/components/ribbon-component-options.tsx
  web/twa-vis-platform/code/src/ui/interaction/ribbon/components/ribbon-component-toggle.tsx
  web/twa-vis-platform/code/src/ui/interaction/tree/layer/layer-tree-content.tsx
  web/twa-vis-platform/code/src/ui/navigation/navbar/navbar-component.tsx
  web/twa-vis-platform/code/src/utils/client-utils.ts
  web/twa-vis-platform/doc/config.md
  web/twa-vis-platform/resources/CHANGELOG.md
  web/twa-vis-platform/resources/VERSION
Labels: bug, infra-vis

#1371 OntoService lifecycle extension
  JPS_Ontology/ontology/ontoprofile/README.MD
  JPS_Ontology/ontology/ontoservice/README.md
  JPS_Ontology/ontology/ontoservice/ontoservice.csv
  JPS_Ontology/ontology/ontoservice/ontoservice.owl
  JPS_Ontology/ontology/ontoservice/ontoservice_abox.ttl
Labels: ontology
